[2013-07-25 22:52] Pauloo opened #23 "Add Tails as a download option"
When you get your reworked EFI bootloader working, would you consider adding Tails as an option in the download dropdown please? http://tails.boum.org

I know this could be a while but wanted to open this issue while I was thinking about it. If you need the distro to be in a certain format or pulled from a consistent location (like a regular Linux repo), I'm sure the Tails team would be very accom

[2013-08-17 01:20] pedromoto4 opened #29 "Not detect pendrive 16GB FAT"
hi I have OSX 10.7.5 and I am trying to use the program on my USB stick that is formatted with FAT.
The USB stick is 16GB. But the program does not recognize it. I'm doing something wrong or is it a bug?

[2013-12-15 09:39] fabjan opened #35 "Double-clicking in "Recent Distributions" only works once"
The items in the list of Recent Distributions are double-clickable, and open the "Create Live USB" window on double-clicks. But it only works once per application boot. After the window has been opened once by double-clicking, double-clicking items in the "Recent Distributions" list does nothing.

## Steps to reproduce:

1. Start the application
2. Double click a distro in the "Recent Distribution

[2014-02-15 05:58] GunnarAnderson opened #38 "Persistence there, but not working"
Hi, so far everything is working great, except for the persistence. I followed the steps to make the file, and enterprise recognized it, and I was able to boot. So to test it I created a document, wrote gibberish, saved, and restarted. When I boot up again, the file wasn't there, the persistence did not work. I am using an 8gb flash drive, ubuntu 13.04, and the persistence file I created was 2gb.

[2014-07-04 19:40] Addisonbean opened #48 "Can't login to Kali"
I recently download v2.0 of this app, and create a Kali USB to boot with. It all works fine until the login section. It asks for a username and password, but I never set one. And I tried the default user/pass root, and toor and that didn't work either. Does this app make it's own default login info? It never asked me to install or setup anything when I booted up with the USB.

[2014-10-31 12:21] Shanfly opened #50 "core files are missing"
Hi,
first of all congrats for such an amazing tool. Unfortunately it did't work so far for me. I have a MacBookAir 5,2 running on OS X 10.9.5. I have tried to boot both Ubuntu-14.04.1 and 13.10 from a 160 GB external drive, from 4 GB USB stick and 1 GB USB stick (in the last case only the 13.10 release). For every time I tried I was unsuccessful to boot Linux, and the message I got is always the f

[2014-12-24 13:54] s34rch opened #54 "Changes to finder on Yosemite"
Running: 13 inch PowerMac 2.8 GHz Intel Core i7, 8GB RAM, 512GB HD, OS 10.10.1.

After installing Mac Linux USB Loader and using it, a change was made to the configuration of the OS.  Change includes altering Administrator privileges.  Now whenever I do anything in the Finder, such as copy files from one drive to another I must enter in my Administrator credentials.    This behavior did not happen

[2014-12-28 10:48] lkingjr opened #55 "Can't seem to get a working USB."
I have tried to download Ubuntu, Linux Mint and Elementary from within the program. I created the USB but when I select EFI Boot it either freezes my iMac or it gets to the menu where I select 1. and then nothing.

I am running OSX 10.10.2 DP if that may be the issue.

[2014-12-28 20:01] MrPutin opened #57 "Experimenting with Kali"
Hello.

I'm on a Macbook Pro, mid 2010. Been trying out different install routes for Kali.
I've managed to get my Mac to boot the USB with both 1.- The default Enterprise with the current MLUSB-L 2.- The new Enterprise, by using the config file SevenBits recommended.

However every time I go on with the boot, I wait for a minute and I get an error saying "Unable to find a medium containing a live

[2014-12-30 20:08] bsfa opened #58 "Progress report 3.0.1"
The wizard does show up when clicking the first button.
The USB flash drive does not show up in Choose destination. Should it be anything else than Fat32?

Apparently not. After starting up MLU again, MLU does recognize the flash drive.

On the next page, only the bottom “older” tick was set, not the top one for Mac. I figure I have to set the tick myself.

I was confused by the Grant access sheet

[2015-01-01 13:03] bsfa commented on #58
On 31 Dec, 2014, at 20:32, SevenBits <notifications@github.com> wrote:

Thank you for your reply.

I get easily confused between the flash drive and the hard disk (both are USB). I think you’re referring to the USB flash drive here, not the hard disk.

I get this:
Name-Removed-iMac-4:UNTITLED bert$ cd /Volumes/UNTITLED/efi/boot/
Name-Removed-iMac-4:boot bert$ ls -a
.		._boot.efi	._bootx64.efi	boot

[2015-01-01 21:58] kalihack2014 commented on #58
@SevenBits How do I get Mac Linux USB Loader to recognize my USB device?

[2015-01-01 22:11] kalihack2014 commented on #58
you said something about giving permissions to the USB Loader, if I need to do that how exactly would I do that?

Thanks!

[2015-01-02 01:56] SevenBits commented on #58
@kalihack2014 How large is your FAT partition? There appear to be issues detecting FAT partitions that are 4 GB in size or above.

In terms giving your USB drive permissions, the first time you try to do something with a USB drive, a file dialog box pops up with a Grant Access button; you click this button while the file dialog is situated in the root folder of the USB drive to grant access. I am

[2015-01-02 02:01] kalihack2014 commented on #58
Okay my drive is 16gb, maybe I should partition it to 4gb. I'm not exactly sure what you mean about the dialogue box with the grant access button? I'm using Mac OSX 10.9.5 Mavericks.

[2015-01-02 02:17] kalihack2014 commented on #58
@SevenBits I also partitioned my 16gb into 4 4gb partitions in MS-Dos (FAT), ExFat, Mac OSX Journaled and it doesn't recognize any of them. Am I doing something wrong?

[2015-01-02 02:19] SevenBits commented on #58
@kalihack2014 I'm referring to this dialog:

![file](https://cloud.githubusercontent.com/assets/2482736/5593902/943e4998-91fb-11e4-8dd2-f0c0be89cec1.png)

Do you relaunch the application or refresh the list of USB drives? The list doesn't automatically update, FYI.

[2015-01-02 02:20] kalihack2014 commented on #58
Yes I do. I don't have a screen like that lol. I just format my USB and launch the Mac Linux USB Loader app.

[2015-01-02 02:23] kalihack2014 commented on #58
I even tried to do a partition that was 3gb and it still didn't recognize the USB drive. It's a 16gb but I partitioned it to 13gb and 3gb both MS-DOS (FAT) and it still doesn't recognize the drive.

[2015-01-02 02:27] SevenBits commented on #58
@kalihack2014 It should show up when you install to a USB for the first time. If it doesn't work, you can issue this command to reset all preferences:

    defaults delete com.sevenbits.Mac-Linux-USB-Loader

I've had users who have had issues with large USB drives before. Try using a smaller USB drive, maybe 4 GB total...

[2015-01-02 02:28] kalihack2014 commented on #58
Ohh okay so this is a command you have to do after you install Kali Linux to the USB?

[2015-01-02 02:29] SevenBits commented on #58
No, before. It will clear your preferences, should make that dialog show up on Mac Linux USB Loader 3.0 and above.

[2015-01-02 02:33] kalihack2014 commented on #58
I just issued the command, the dialouge that you showed me above is didn't show up  and still not showing any USB, I have a 4gb one I will partition and try...

[2015-01-02 02:35] kalihack2014 commented on #58
@SevenBits  Also here is an error message I got when issuing that command

Kyles-MacBook-Pro-2:~ KyleCox$ defaults delete com.sevenbits.Mac-Linux-USB-Loader
2015-01-01 20:34:26.116 defaults[2494:507]
Domain (com.sevenbits.Mac-Linux-USB-Loader) not found.
Defaults have not been changed.
Kyles-MacBook-Pro-2:~ KyleCox$

[2015-01-02 02:43] SevenBits commented on #58
@kalihack2014 Are you using version 3.0?

[2015-01-02 02:44] kalihack2014 commented on #58
3.0.1 OSX Macericks

[2015-01-02 02:58] kalihack2014 commented on #58
@SevenBits I also tried version 3.0 on a Yosemite Mac Mini

[2015-01-02 03:44] kalihack2014 commented on #58
@SevenBits I got the Mac Linux USB Loader to recognize a different USB device however I get an error. I will upload a picture soon.

[2015-01-02 03:46] kalihack2014 commented on #58
@SevenBits  I'm having the same problem as @bsfa

[2015-01-02 03:51] kalihack2014 commented on #58
@SevenBits Apparently the Mac Linux USB Loader doesn't create a MLUL file

Kyles-MacBook-Pro-2:efi KyleCox$ cd boot
Kyles-MacBook-Pro-2:boot KyleCox$ ls
boot.efi	boot.iso	bootx64.efi
Kyles-MacBook-Pro-2:boot KyleCox$

[2015-01-02 03:57] SevenBits commented on #58
@kalihack2014 Use `ls -a` to see hidden files, the file is hidden by default

[2015-01-02 04:00] kalihack2014 commented on #58
@SevenBits  did that it's not there. I have my Mac setup to view all hidden files anyways ;) lol

[2015-01-02 15:13] gorilla1977 commented on #58
I have exactly the same problem with missing configuration files,
but with _4GB_ USB flash drive.
So I can confirm that large USB flash is not whats causing a problem.
Like you, I can't find those "MLUL" files...
My OS is Mavericks 10.9.5

[2015-01-02 15:51] SevenBits commented on #58
Okay, so, is anyone having this issue (the missing config file) on Yosemite... I'm just trying to keep track of everything.

On Jan 2, 2015, at 10:13 AM, gorilla1977 <notifications@github.com> wrote:

[2015-01-02 16:29] gorilla1977 commented on #58
@SevenBits sadly i'm not skilled at software debugging... if you have Yosemite installed but want to test this bug on Mavericks, you could install Parallels Desktop trial (Parallels supports Mac OS X)
And if I will be 100% confident that there's no such bug at Yosemite I will upgrade to Yosemite, despite its quite buggy (because I really need your app working)

[2015-01-02 16:36] gorilla1977 commented on #58
@SevenBits i could be wrong but this bug could be related to SBEnterpriseConfigurationWriter.m

[2015-01-02 18:17] SevenBits commented on #58
I do have a bootable Mavericks install on a portable hard drive, but I am away and will not be able to test this until tomorrow night.

If you really need immediate assistance, you can contact me from my website; this thread is not an appropriate venue for that.

Perhaps that source file is the problem, but I am not sure. These things tend to not be that simple.

I have created dozens of live USBs

[2015-01-02 19:49] kalihack2014 commented on #58
@gorilla1977  What distro are you creating? Ubuntu, Kali Mint, Kali linux etc.??

@SevenBits Giving this a try using Version 3.0 Mac Linux USB Loader on Yosemite creating a bootable Kali Linux USB. Will let you know how it works shortly.

[2015-01-02 20:00] kalihack2014 commented on #58
@SevenBits  Version 3.0 on Yosemite creates the "MLUL" files will test to see if it boots, like I said I'm using the Kali Linux Distro.

[2015-01-02 20:09] kalihack2014 commented on #58
@SevenBits @gorilla1977 Kali Linux will not boot from Version 3.0 using Yosemite to create it. It gets up to the boot screen on the top left and says the debian boot failed, and then open a shell, kind of like the picture I uploaded a few days ago.

![ef72c104-8ed6-11e4-8fb7-1f1769a0821f](https://cloud.githubusercontent.com/assets/9980503/5599240/0055c07e-9289-11e4-94aa-69e70570e819.JPG)

[2015-01-03 00:19] gorilla1977 commented on #58
@SevenBits @kalihack2014 I would like to make a bootable usb of Qubes OS R2 - http://qubes-os.org/
*Qubes is a security-oriented, Fedora-based desktop Linux distribution whose main concept is "security by isolation" by using domains implemented as lightweight Xen virtual machines*
http://qubes-os.org/wiki/QubesDownloads
Structure of Qubes ISO image is the same as Fedora 17 / 18
( they don't have o

[2015-01-03 00:34] kalihack2014 commented on #58
@gorilla1977  so you don't get MLUL files from the 3.0 version of MAC Linux USB Loader on Yosemite? Were you set to see hidden files? You can with this command "defaults write com.apple.finder AppleShowAllFiles YES" or by doing the ls -a command in the directory. That's strange because I created a USB Kali Linux distro and got the MLUL file it just fails to boot...

[2015-01-03 00:37] gorilla1977 commented on #58
@kalihack2014 I checked hidden files with a more reliable way : `ls -alh` at Terminal ;-)
As I said I was able to see MLUL when I tried older 2.0.1 version, but can't see them with 3.0.0/3.0.1

[2015-01-03 00:39] juanitajones opened #59 "Do you Vette what you code?"
Please forgive my question, but do you vette what your coding? I ask this because it's painfully obvious that the "majority" of the the people that are creating a USB with different Linux iterations are not booting in  neither Mavericks or Yosemite. It's not that I'm not great full for your effort, but when 85% of members cant boot into Kali, (or any other Linux) ......that's a problem.

[2015-01-03 00:42] kalihack2014 commented on #58
@SevenBits @gorilla1977 Hmmm... I just tested the USB drive I created earlier today try to boot on my Yosemite machine it boots up a screen I can't see for about half a second about video support then it just stuck saying "Welcome to Enterprise Version 0.2.1"

[2015-01-03 00:44] gorilla1977 commented on #58
@kalihack2014 are you testing the same USB drive, which gave you a failed boot from screenshot above?

[2015-01-03 00:46] kalihack2014 commented on #58
@gorilla1977 YES I am same USB.  I have no idea why it's showing MLUL files for me but not for you. It might be the distro you're using but either way I don't think anyone is ever going to find a way to boot a Kali Linux distro from USB on a Mac Machine lol
![screen shot 2015-01-02 at 6 45 34 pm](https://cloud.githubusercontent.com/assets/9980503/5601018/93356ebe-92af-11e4-9d41-2f43784a6789.png)

[2015-01-03 00:55] kalihack2014 commented on #58
@gorilla1977 What are you using the Qubes OS R2 for, the only thing I can suggest is to install it via Virtual Box, that's what I'm resorting to with Kali Linux...

[2015-01-03 01:04] gorilla1977 commented on #58
@kalihack2014 Qubes OS R2 doesn't work in Virtual Box, because of Virtual Box graphic drivers issue.
And it'd be great to have a native experience of Qubes OS, that's why I'm interested in this github project

[2015-01-03 01:10] kalihack2014 commented on #58
@gorilla1977 Gotcha! I'm going to try to get it to work in Virtual Box just for the hell of it... downloading it now. It's the first time I've heard of Qubes OS R2.

[2015-01-03 01:25] jotaemei commented on #59
"I ask this because it's painfully obvious that the "majority" of the the people that are creating a USB with different Linux iterations are not booting in neither Mavericks or Yosemite."

SevenBits is providing this to the community for free.  Your criticism based on unfounded assumptions is not cool.  Why even put the word majority in quotes?  Is it because you have no idea actually how many peo

[2015-01-03 01:30] kalihack2014 commented on #59
@juanitajones @jotaemei  I agree with jotaemei!! SevenBits does good work for basically nothing and is knowladeable with computers.

@jotaemei How were you able to boot into Kali Linux via Live USB???? I would really like to know how you got it to work!

[2015-01-03 01:31] juanitajones commented on #59
I'm using 3 different MacBook pros from 4 years ago to 9 months ago. Three running Yosemite and one running Mavericks. I got one mavericks machine to boot to Ubuntu 10.4 (not 14.10) That's it.
The USBs are being created in both VM's and actuals of Yosemite and Mavericks. You tell me..........?

[2015-01-03 01:34] kalihack2014 commented on #59
@jotaemei  I thought you said you got Kali Linux to work. I can get Ubuntu 12.04.2 and 14.04.1 to work no problem those are the only two I've tried but they work. I just can't get Kali Linux to work via Live USB.

[2015-01-03 01:35] juanitajones commented on #59
I've tried kali x32 and x64, no luck.

[2015-01-03 01:36] kalihack2014 commented on #59
@juanitajones  I bet it's the boot in Blind Mode problem you are having? It's notorious in Kali...

[2015-01-03 01:38] juanitajones commented on #59
I'm on another machine right now, but if I remember correctly it was another error message.

[2015-01-03 01:40] kalihack2014 commented on #59
@juanitajones Then probably the failed to boot debian message if you used enterprise...

[2015-01-03 01:43] juanitajones commented on #59
I'll check later or tomorrow. Has none been successful booting either Kali or Tails?

[2015-01-03 01:48] kalihack2014 commented on #59
@juanitajones I know one person who was able to boot Kali Linux via USB on a PC but none that I've heard of on a Mac. I don't know really anything about Tails.

[2015-01-03 02:01] juanitajones commented on #59
I have everything booting on my windows machines no problem. Never a problem of any kind using Easy2Boot.

[2015-01-03 02:05] kalihack2014 commented on #59
@juanitajones Yep... I hear Kali will work on a PC no problem.

[2015-01-03 02:16] SevenBits commented on #59
@juanitajones Issues like what you all are having happen in every software product. Do you know how many people file support requests with Apple on the day a new OS X release comes out? I've been told it's a quite substantial number. I understand your frustration, but it's impossible with my limited resources to test every single use case - I have created dozens of live USBs using my tool on Yosem

[2015-01-03 02:19] kalihack2014 commented on #59
@SevenBits  so you got Kali Linux to work?

[2015-01-03 02:36] SevenBits commented on #59
@kalihack2014 Some internal tests that I'm doing look promising, but nothing rock solid yet... I will try to release a beta ASAP. Debian is less friendly to UEFI than Ubuntu, hence the trouble everyone's had with Kali (and Tails).

[2015-01-03 02:39] kalihack2014 commented on #59
@SevenBits Very Nice, Very Nice! I can't wait for the release and hope you can get Kali Linux to work on a bootable USB :)  That would be fantastic.

[2015-01-03 11:57] gorilla1977 commented on #58
@kalihack2014 The great value of Qubes OS is that it provides unmatched security thanks to the isolation approach. But, even if you would succeed running it in a virtual machine, then there will be no true isolation from a host operating system - Mac OS X - which could leak your information - screenshots, data dumps, etc. * And I'm not kidding: e.g. this video demonstrates one of the ways,
how Yos

[2015-01-03 19:15] jotaemei commented on #59
"@jotaemei How were you able to boot into Kali Linux via Live USB???? I would really like to know how you got it to work! I have a Mac 11,3 Mid 2014 and can't get Kali Linux to boot." - @kalihack2014

Ah.  Ancient Mac Linux USB Loader secret.  A wise user once said,
![img_0282](https://cloud.githubusercontent.com/assets/3826245/5603433/f5908398-9352-11e4-92fd-011093c694e8.JPG)
 "Are you using the

[2015-01-03 19:59] jotaemei commented on #59
OK.  All the machines here are running Mavericks, updated to the latest version (10.9.5).  My understanding, though perhaps only @SevenBits can confirm, is that it doesn't matter what version of OS X you have installed when attempting to boot from the LiveUSB.  The version of OS X you have, I'd assume, is only relevant when you're creating the LiveUSB - if Mac Linux USB Loader (MLUL) calls into di

[2015-01-03 20:16] jotaemei commented on #59
Results of testing on a MacBookPro11,1:

![img_0284](https://cloud.githubusercontent.com/assets/3826245/5603600/29d7fec6-935b-11e4-9249-7bdcbfa63640.JPG)

With this test, I encountered the problem mentioned elsewhere that the credentials

user:root
password:toor

were not accepted.

I've got some things to do now and don't have time to look up that other thread about credential problems, but at le

[2015-01-03 21:17] kalihack2014 commented on #59
@jotaemei Yes I know if you use an older version of Mac Linux USB Loader you can boot into blind mode, very known problem.

[2015-01-03 21:21] kalihack2014 commented on #58
@gorilla1977  Thanks for the information! And yes I couldn't get it installed in a VM anyways. I hope Sevenbits can solve both of our problems with the next release of Mac Linux USB Loader. He said he's got some promising observations but nothing certain yet... Hopefully a Beta will be released soon!

[2015-01-03 22:23] SevenBits commented on #58
@kalihack2014 @gorilla1977 For all of those having issues with missing configuration files... when using version 3.0.1, try manually creating the `EFI` and `BOOT` folders on your USB stick before running Mac Linux USB Loader. This comes from a suggestion from an email I received from someone who read this thread; apparently, the installation worked after that.

I'm sure that the Kali solution will

[2015-01-03 22:25] SevenBits commented on #59
@juanitajones @jotaemei For all of those having issues with missing configuration files... when using version 3.0.1, try manually creating the EFI and BOOT folders on your USB stick before running Mac Linux USB Loader. This comes from a suggestion from an email I received from someone who read this thread; apparently, the installation worked after that.

I'm sure that the Kali solution will be wor

[2015-01-03 23:55] jotaemei commented on #59
"@jotaemei Yes I know if you use an older version of Mac Linux USB Loader you can boot into blind mode, very known problem."

@kalihack2014, so why aren't you doing it that way?  Mac Linux USB Loader 3.0 is a hot mess.

[2015-01-04 02:57] gorilla1977 opened #60 "[3.0.1] Configuration problems"
I have tested the advice about creating `EFI` & `BOOT` folders ( *mentioned at* [*issue 58*](http://github.com/SevenBits/Mac-Linux-USB-Loader/issues/58) and [*issue 59*](http://github.com/SevenBits/Mac-Linux-USB-Loader/issues/59) )
The progress advanced one step further, because this time a configuration file was created.
But, when I tried to boot, I got a new error message which is slightly diffe

[2015-01-04 03:10] gorilla1977 commented on #58
@SevenBits @bsfa @kalihack2014 After solving this issue by using the advice with folders, I got into another issue - which is slightly different, and also related to configuration file. For those who interested, please lets move there, because the situation has changed and this thread is indeed getting too long:
http://github.com/SevenBits/Mac-Linux-USB-Loader/issues/60

[2015-01-04 03:11] gorilla1977 commented on #59
@jotaemei @juanitajones After solving this issue by using SevenBits's advice with folders, I got into
another issue - which is slightly different, and also related to configuration file. For those who interested, please lets move there, because the situation has changed and this thread is indeed getting too long:
http://github.com/SevenBits/Mac-Linux-USB-Loader/issues/60

[2015-01-04 03:11] kalihack2014 commented on #58
@gorilla1977  what is the issue (Will move to the issue 60 forum)

[2015-01-04 03:14] kalihack2014 commented on #60
@gorilla1977  so you got a MLUL file... What system were you using Mavericks or Yosemite?

[2015-01-04 03:15] gorilla1977 commented on #58
@kalihack2014 Now there's MLUL, but `Error: configuration file parsing error.` (entry & family : "Other")

[2015-01-04 03:17] gorilla1977 commented on #60
@kalihack2014 I'm using Yosemite, but I'm sure there would have been the same results with Mavericks

[2015-01-04 03:22] kalihack2014 commented on #60
@gorilla1977  I'm kind of at the same stage you are because that is what my MLUL file says and I created it with Yosemite except I used version 3.0. I wouldn't be so sure about the same result in Mavericks because I used 3.0.1 in Mavericks and it did not create a MLUL file, regardless I doubt it's the MLUL file causing the trouble but it could be. I know in Kali there is some UFEI problems accordi

[2015-01-04 03:24] kalihack2014 commented on #60
Try updating your MLUL file to this, I'm about to try it...
entry Kali
family Debian
kernel /live/vmlinuz boot=live noconfig=sudo username=root hostname=kali

[2015-01-04 03:41] kalihack2014 commented on #60
Nope doesn't work with Kali Still get this screen...
![img_0024](https://cloud.githubusercontent.com/assets/9980503/5604656/2328025c-9391-11e4-8b35-741e3ff0e292.jpg)

[2015-01-04 03:41] gorilla1977 commented on #60
@kalihack2014 I've made tests earlier, and the problem occurred both on Mavericks and Yosemite.
After trying this advice, the problem disappeared at Yosemite, so I expect it to disappear on Mavericks
as well. I haven't observed any difference in test results of 3.0.1 between Yosemite and Mavericks, yet

[2015-01-04 03:45] kalihack2014 commented on #60
@gorilla1977  trying it out now, we will see if it creates a MLUL file. 3.0.1 Mavericks. I'm reformatting the drive now.

[2015-01-04 03:48] gorilla1977 commented on #60
@kalihack2014 *In past I have experienced the same problem as you - "i8042: No controller found"
That's the issue of Debian, not of MLUL. [Check my Ubuntu bug report](https://bugs.launchpad.net/ubuntu/+bug/1406832) Try adding "nomodeset", it should solve your problem

[2015-01-04 03:53] kalihack2014 commented on #60
@gorilla1977 are you trying to create a bootable USB for Ubuntu? And what do you mean try adding "nomodeset"?

[2015-01-04 03:56] gorilla1977 commented on #60
@kalihack2014 3 days ago I needed to boot Ubuntu 14.10 from USB. It supports UEFI so it boots on Macbook Pro without any additional "EFI loaders", but only if I add "nomodeset" to kernel booting options

[2015-01-04 03:59] kalihack2014 commented on #60
@gorilla1977  I don't know what you mean lol
But as far as creating a MLUL with 3.0.1 on Mavericks there is none created (simple issue to fix by creating your own in VIM,NANO, or Textedit) But here is a screenshot just to show you and I have hidden files show.

![screen shot 2015-01-03 at 9 56 50 pm](https://cloud.githubusercontent.com/assets/9980503/5604702/bb5b2fac-9393-11e4-9db3-530c32a6da8f.pn

[2015-01-04 04:06] kalihack2014 commented on #60
@gorilla1977 what do you mean nomodeset to the booting options, how do you do that?

[2015-01-04 04:16] gorilla1977 commented on #60
@kalihack2014  I am going to give you an Ubuntu example, you need to somehow apply it to Debian.
During the booting process, I had to edit `grub.cfg` entry for "Try Ubuntu without installing".
By default, it contained:
	set gfxpayload=keep
	linux	/casper/vmlinuz.efi  file=/cdrom/preseed/ubuntu.seed boot=casper quiet splash --
	initrd	/casper/initrd.lz
I changed it into:
	set gfxpayload=keep
	linux

[2015-01-04 04:20] kalihack2014 commented on #60
@gorilla1977  okay that makes more sense however how were you able to get into/edit the grub.cfg file?

[2015-01-04 04:22] gorilla1977 commented on #60
@kalihack2014 Booting process got me into GRUB2 menu, where I was able to edit "Try Ubuntu without installing" entry. It threw me into GRUB2 menu automatically... (you may have to press something)

[2015-01-04 04:24] kalihack2014 commented on #60
@gorilla1977  okay I know about Grub... so you just had to like press tab to edit some files or something?
Kali doesn't use grub so I don't know exactly how to edit that and it doesn't even boot into anything that I can edit.

[2015-01-04 04:41] gorilla1977 commented on #60
@kalihack2014 After I select Ubuntu's "EFI Loader" at Mac's UEFI menu, it shows me "Booting in insecure mode" message, then it throws me into GRUB2 menu, where I could do three things:
* go Up/Down with arrows, highlight menu entry, and then press "Enter" (thats what most users do)
* press "e" key to edit the GRUB2 entry, then save it and use for booting
* press "c" key to go to GRUB2's command li

[2015-01-04 04:46] kalihack2014 commented on #60
@gorilla1977  okay I know exactly what you mean now, I just tried it in a VM but in order for grub to boot you have to enable EFI.

Now what do you mean by "Thank you for hinting about extra "kernel" line, that helped me to get past the "parsing" error to Enterprise menu. But my case is not closed yet, because I need to correctly guess that "kernel" line..." I don't think I hinted you about anythi

[2015-01-04 04:54] gorilla1977 commented on #60
@kalihack2014 its okay ;) Just to clarify the things: in my case with Ubuntu I didn't have to "enable EFI", use MLUL, etc. - it was semi-bootable right out-of-the-box after using "dd" command to write ISO to USB

My MLUL had two important lines: entry and family.
But your comment "Try updating your MLUL file to this" - features 3 lines! - and 3rd line is "kernel line" :
`kernel /live/vmlinuz boot=

[2015-01-04 05:00] kalihack2014 commented on #60
@gorilla1977  I got that script from another user on github he told me to try it. Hope you can use it to try to get Kali Linux to boot via Live USB :)

And about enable EFI it's because I was using it in Virtual Box, I know in real life booting the USB would automatically take you to GRUB2.

[2015-01-04 05:19] gorilla1977 commented on #60
@kalihack2014 @SevenBits Small updates:
1) I could get to Enterprise menu only if I choose family as Debian.
If I would try to set it as Other, like it was after MLUL file generation, I would get an error
"Distribution Family "Other" is not supported"
2) If I would choose Debian, it will get to Menu, but later it will try to get the kernels at /live directory of ISO . But Qubes (or Fedora 17/18) h

[2015-01-04 05:32] kalihack2014 commented on #60
Well here is my screenshot after using Mac Linux USB Loader 3.0.1 on Mavericks Kali Linux Distro...

![img_0025](https://cloud.githubusercontent.com/assets/9980503/5604885/b42dca84-93a0-11e4-9167-ef4d3259a610.jpg)

[2015-01-04 13:08] gorilla1977 commented on #60
@kalihack2014 Have you created `efi` and `efi/boot` directories, before running MLUL?

[2015-01-04 16:29] SevenBits commented on #60
@gorilla1977 You can specify the locations of the kernel and initrd in the configuration file, and you do not need to specify a family. Just do something like this:

    entry Qubes OS
    kernel ...
    initrd ...
    root ...

Fill in the dots with the proper locations.

[2015-01-04 19:58] kalihack2014 commented on #60
@gorilla1977 Yes Mac Linux USB Loader did that for me I have a folder called efi and inside that folder is boot then inside that are the boot.efi, bootx64.efi and the boot.iso. There is however no MLUL file. Version 3.0.1 on Mavericks doesn't create one.

[2015-01-04 20:13] kalihack2014 commented on #60
@gorilla1977  However I created a .MLUL-Live-USB with the text:
"entry Kali
family Debian
kernel /live/vmlinuz boot=live noconfig=sudo username=root hostname=kali"
And it gets me to the Boot failed screen.

[2015-01-04 20:29] kalihack2014 commented on #60
@SevenBits  Alright I understand most of your post trying to edit for Kali Linux:
entry Kali Linux
kernel /live/vmlinuz
initrd /live/initrd.img
root ... (I don't know what to put here)

Also I did some research my initrd.img is only 22.1 MB However my boot.iso file is 3.05gb but the three folders inside that iso (efi, install, and live) only equal up too about 62mb. Makes me wonder where all the o

[2015-01-04 21:01] SevenBits commented on #60
@kalihack2014 The file `initrd.img` does not do what you think... it serves as a basic file system which can be read by the kernel at boot time and contains things like drivers for the root (`/`) partition. Boot splash screens are also contained in here.

The `root` directive in Enterprise's configuration file is, in simplistic terms, usually the folder containing the kernel and initrd. In your ca

[2015-01-04 21:02] SevenBits commented on #59
I'm going to close this because this is a chat thread, and not a true issue.

[2015-01-04 21:02] #59 closed

[2015-01-04 21:42] enzocagggiano opened #61 "USB drive not showing up"
When I try to create a live usb, my usb drive doesn't show up. I made sure its plugged in, tried reformatting it, erasing it with different filesystems, but nothing has worked. The usb drive shows up fine in finder and everywhere else (and in older versions of this app). I am using the latest version.

[2015-01-04 23:32] kalihack2014 commented on #60
@SevenBits  Thanks, I will give it a try.

[2015-01-04 23:34] kalihack2014 commented on #61
@enzocagggiano  This is a known issue. The USB drive has to 4gb or less and formatting it to smaller partitions does not work either. Sevenbits told me about this.

[2015-01-04 23:39] SevenBits commented on #61
This appears to be an OS X problem; I have tried looking into this in the past with no clear solution.

[2015-01-04 23:53] kalihack2014 commented on #60
@SevenBits  Edited the MLUL file to this:
"entry Kali Linux
kernel /live/vmlinuz
initrd /live/initrd.img
root /live"

And it just gives me a failed boot screen...

[2015-01-04 23:53] enzocagggiano commented on #61
Ok, will it be fixed soon?

[2015-01-04 23:56] enzocagggiano commented on #61
Ok, hope it is fixed soon. A 4GB usb drive works?

[2015-01-04 23:58] kalihack2014 commented on #61
@enzocagggiano  It worked for me but if you are trying to boot a Kali Linux distribution or Qubes I don't think anyone has been successful, except to boot Kali in Blind Mode which is completely useless...

[2015-01-05 00:00] enzocagggiano commented on #61
I'm trying to boot ubuntu

[2015-01-05 00:03] kalihack2014 commented on #61
@enzocagggiano
http://www.ubuntu.com/download/desktop/create-a-usb-stick-on-mac-osx

http://computers.tutsplus.com/tutorials/how-to-create-a-bootable-ubuntu-usb-drive-for-mac-in-os-x--cms-21253

These have worked for me perfectly!

[2015-01-05 00:03] gorilla1977 commented on #61
@enzocagggiano Actually, if you want to boot Ubuntu 14.10 you don't need MLUL (or any other EFI loaders)
Just "dd" the ISO image to your USB drive, and it should work right out of the box! ;-)

[2015-01-05 00:05] enzocagggiano commented on #61
I get a no controller found error

[2015-01-05 00:08] gorilla1977 commented on #61
@enzocagggiano You need to add `nomodeset` to kernel booting options.
While booting, click `e` key to edit the entry for "Try Ubuntu without installing".
`By default, it contains:`
*set gfxpayload=keep*
*linux /casper/vmlinuz.efi  file=/cdrom/preseed/ubuntu.seed boot=casper quiet splash --*
*initrd /casper/initrd.lz*
`You need to change it into:`
*set gfxpayload=keep*
*linux /casper/vmlinuz.efi  f

[2015-01-05 00:35] enzocagggiano commented on #61
I got to the boot screen and the busybox window but now I get this error:
(Initramfs) Unable to find a medium containing a live file system

[2015-01-05 00:38] gorilla1977 commented on #61
@enzocagggiano That's very strange... Tell me please:
**1)** What is your hardware version of Mac? (that could be important)
**2)** What steps did you follow to create a bootable USB? What commands have you used?

[2015-01-05 00:44] enzocagggiano commented on #61
1. MacBook Pro 17 Inch Late 2011
2. I used the enterprise files. I get to the normal ubuntu boot menu after vmlinuz kernel issues. I can't get the USB drive to boot with dd

[2015-01-05 01:02] gorilla1977 commented on #61
@enzocagggiano Could you show me the exact "dd" command that you have tried?
My hardware is similar to yours ( MBP 15" Early 2011 ) , but "dd" method worked for me at 1st try!

[2015-01-05 01:13] enzocagggiano commented on #61
What did you format the USB drive to

[2015-01-05 01:16] enzocagggiano commented on #61
sudo dd if=~/ubu.img of=/dev/rdisk1 bs=1m

[2015-01-05 01:22] kalihack2014 commented on #61
@enzocagggiano  did you convert the iso to a dmg? it looks like you are using an img

[2015-01-05 01:25] enzocagggiano commented on #61
it has to be a dmg? it says to make a img on the official guide.

[2015-01-05 01:29] kalihack2014 commented on #61
@enzocagggiano  you have to convert the iso to a dmg via
"hdiutil convert -format UDRW -o ~/path/to/target.img ~/path/to/ubuntu.iso"

then
sudo dd if=/Users/johnnywinter/Downloads/ubuntu-14.04-desktop-amd64+mac.dmg of=/dev/rdisk2 bs=1m

Notice that the the ubuntu file is a .dmg

In the official guide the not says "Note: OS X tends to put the .dmg ending on the output file automatically."

and step

[2015-01-05 01:30] enzocagggiano commented on #61
ok

[2015-01-05 01:30] kalihack2014 commented on #61
@enzocagggiano  yes OSX uses dmg files not img lol should work now! :)

[2015-01-05 01:31] enzocagggiano commented on #61
ok, I will tell you if i get an issue

[2015-01-05 01:33] kalihack2014 commented on #61
@enzocagggiano then do what gorilla1977 said when you get to GRUB2

"You need to add nomodeset to kernel booting options.
While booting, click e key to edit the entry for "Try Ubuntu without installing".
By default, it contains:
set gfxpayload=keep
linux /casper/vmlinuz.efi file=/cdrom/preseed/ubuntu.seed boot=casper quiet splash --
initrd /casper/initrd.lz
You need to change it into:
set gfxpaylo

[2015-01-05 01:36] enzocagggiano commented on #61
GOT IT TO WORK!

[2015-01-05 01:36] #61 closed

[2015-01-05 01:37] kalihack2014 commented on #61
@enzocagggiano  Knew you would ;)

[2015-01-05 01:50] kalihack2014 commented on #60
@SevenBits  do you have an idea about why kali is not able to boot? Any progress? I think it uses GRUB instead of GRUB2 if that helps any...

Thanks for your time SevenBits! I know you are busy.

[2015-01-05 14:16] SevenBits commented on #61
@kalihack2014 @enzocagggiano FYI, guys, in the future, please avoid discussing software other than Mac Linux USB Loader. If you want to give each other support, please use an Internet forum or email each other privately.

[2015-01-05 14:16] enzocagggiano commented on #61
ok

[2015-01-05 14:22] SevenBits commented on #60
@kalihack2014 It's probably an issue with pointing the system to its bootable ISO file - once the kernel and RAM disc are loaded, the kernel needs to hand off control to the regular system on the root partition (mounted as `/`). This works with Ubuntu, but it doesn't work with Debian (and, by extension, Kali). Interestingly, this works on the version of Enterprise included in version 2.0.2 of Mac

[2015-01-05 14:30] SevenBits commented on #60
Also, @gorilla1977, I believe that in the latest revision I've fixed the issue regarding the configuration file not being created. The only question is would the community prefer a fix a) now, but without a fix for Kali or b) later, when Kali works

I'm assuming that you all will prefer the first option, but do let me know.

[2015-01-05 14:41] gorilla1977 commented on #60
@SevenBits Please consider a "quiet release" : quietly replace the existing 3.0.1 version, with a 3.0.1 version that includes a fix.
1) Those who had a problem with missing config, already know a solution (create efi & boot folders)
2) Even if someone doesn't know, it would be easy to look it up (these issues are 1st result in Google)
3) New downloaders won't need this solution at all, and they co

[2015-01-05 17:10] kalihack2014 commented on #61
@SevenBits Will do

[2015-01-05 18:14] SevenBits commented on #60
@gorilla1977 The problem with that approach is that it breaks semantic versioning: there would be effectively *two* different versions Mac Linux USB Loader 3.0.1 in the wild, with no obvious way to tell them apart (yes, you could use the build number, but regular users won't think to check that). A disadvantage of doing this is that users who already downloaded the current version and whose USB do

[2015-01-05 18:40] kalihack2014 commented on #60
@SevenBits  I personally would rather have Kali to work :)

[2015-01-06 00:09] gorilla1977 commented on #60
@SevenBits well its to append letter to version number: of course not `a` or `b` (because that would mean "alpha" or "beta") but `f` - which means `fixed`. So it would be `3.0.1f` ;) its still much better than something like `3.0.1.5` - such long version numbers aren't looking nice

[2015-01-06 00:19] gorilla1977 commented on #60
@kalihack2014 Alternative way of trying to launch Kali linux:
**1)** Make your MLUL file to look like the following:

    #This file is machine generated. Do not modify it unless you know what you are doing.

    entry Kali
    kernel /isolinux/isolinux.bin

Obviously, it will fail, but instead of failed Debian booting (which you are experiencing now) it will fail at earlier stage and you will be

[2015-01-06 00:22] kalihack2014 commented on #60
@gorilla1977  Okay I will try it, although of course I have one question what do you mean by
syslinux_configfile -i /isolinux/isolinux.cfg -r /

Is that like editing the file you showed me in Ubuntu or actually running this command in a grub shell?

[2015-01-06 00:27] gorilla1977 commented on #60
@kalihack2014 It is for running this command in a GRUB shell, which is bundled with Enterprise.
Of course, with the same success you could run Ubuntu LiveUSB from a second flash drive, go to GRUB2 command line by pressing `c`, running commands `loopback loop (MLUL USB here)/efi/boot/boot.iso`, `set  root=(loop)`, then run the `syslinux_configfile` command from above. But this way you will be force

[2015-01-06 00:30] kalihack2014 commented on #60
@gorilla1977  don't exactly know what you mean with Ubuntu but for Kali if I get prompted for the GRUB2 shell I will run this command
"syslinux_configfile -i /isolinux/isolinux.cfg -r /" exactly how it is written and let you know what happens... fingers crossed.

[2015-01-06 00:35] gorilla1977 commented on #60
@kalihack2014 Open the iso file of Kali Linux (with archiver, or by mounting it), then go to `isolinux` folder and open `isolinux.cfg` file. You'll see that it uses a menu.cfg, which in turn uses various configs such as `live.cfg` and `install.cfg`, which are providing the exact commands to syslinux for booting Kali Linux

[2015-01-06 00:37] gorilla1977 commented on #60
@kalihack2014 -r flag is optional, its for telling the root folder. I am not sure if it should be `/` or `/isolinux`

[2015-01-06 00:40] kalihack2014 commented on #60
@gorilla1977  it said:

error: no video mode activated.
grub>

[2015-01-06 00:44] gorilla1977 commented on #60
@kalihack2014 Hmmm... Well, you could use those `isolinux` config files from above as "cheatsheets",
and try to use the commands from them in MLUL config file. Or (as an alternative) you could make a copy of that isolinux.cfg file, modify it, then put it somewhere at MLUL USB and execute "syslinux_configfiles` on it in a similar fashion

[2015-01-06 00:45] kalihack2014 commented on #60
@gorilla1977  I have no idea what you are talking about.... I'm trying to follow what you are saying but don't.

[2015-01-06 00:46] gorilla1977 commented on #60
@kalihack2014 pls refresh a page, I have removed the difficult alternative xD

[2015-01-06 00:46] kalihack2014 commented on #60
@gorilla1977  here is my email since this is starting to get into a "support forum"

kylecmvp@gmail.com

[2015-01-06 00:47] gorilla1977 commented on #60
@kalihack2014 ok I will write you a quick message there (a disadvantage of this is that other users won't be able to read our experiences)

[2015-01-06 00:48] kalihack2014 commented on #60
@gorilla1977  I understand, but SevenBits said so and I don't want to get suspended on here lol

[2015-01-06 01:01] gorilla1977 commented on #60
lets remove some of our unnecessary messages here, to reduce a flood

[2015-01-06 01:04] gorilla1977 commented on #60
lets remove some of our latest unnecessary messages here, to reduce a flood. and its not a good idea to post your email openly without style like kylecmvp [att] gmail [dottt] com (otherwise, spam bots will harass you)

[2015-01-06 01:05] kalihack2014 commented on #60
Okay I removed them and my email

[2015-01-07 15:51] nhoizey opened #62 "Error message: "…the Enterprise source that you have selected is either incomplete or missing.""
I downloaded Mac-Linux-USB-Loader today (v3.0.1), used it to download Unbuntu 14.10 and Mint 17.1, but both gave me this message after clicking the "Begin Installation" button:

![capture d ecran 2015-01-07 a 16 46 47](https://cloud.githubusercontent.com/assets/78213/5648164/dfff8352-968c-11e4-8b0d-9c04828d2860.png)

I'm using OS X 10.9.5 on a 2014 13" Macbook Air.

[2015-01-07 16:17] SevenBits commented on #62
Hello, what Enterprise source are you using? What does the Enterprise version selector say?

[2015-01-07 16:23] nhoizey commented on #62
I'm using "Included With Application" v0.2.1:

![capture d ecran 2015-01-07 a 17 22 54](https://cloud.githubusercontent.com/assets/78213/5648846/dc08c178-9691-11e4-9747-80eafa2f0c1c.png)

[2015-01-07 20:48] SevenBits commented on #62
@nhoizey Please show me the logs for Mac Linux USB Loader... also give me a layout of the files in the .app.

[2015-01-07 21:39] kassi opened #63 "No .MLUL-Live-USB file when creating Elementary OS-Luna"
I downloaded the Elementary OS-Luna via Distribution Downloader and started to Create Live USB.
I didn't change the options the program chose, which is "Ubuntu" and a marked checkbox "This ISO has code older than Ubuntu 14.10".
After creating the USB I found out that there's no .MLUL-Live-USB file being created which was the case when I used a (manually downloaded) ubuntu 14.10+mac iso file.

I'm

[2015-01-07 21:47] SevenBits commented on #63
This is a known issue and it has been discussed already in a separate thread. To cut to the chase, you either need to run the installation wizard again or create the `EFI` and `BOOT` folders manually before the wizard.

FYI, this was fixed already; I am just waiting for some translations to come through before I issue the update containing the fix.

[2015-01-07 21:51] SevenBits commented on #60
FYI, the thread is being closed because the reason for the error is that Enterprise cannot boot USBs with a family of `Other`. The expectation is that if your chosen distribution is not supported then you will go in manually after the installation is done and set it up manually.

[2015-01-07 21:51] #60 closed

[2015-01-07 21:52] SevenBits commented on #58
Since there is now an issue dedicated to the config file problem, #63, I am closing this.

[2015-01-07 21:52] #58 closed

[2015-01-07 21:53] SevenBits commented on #55
I need more information from you, otherwise, this thread will be closed.

[2015-01-07 21:54] #54 closed

[2015-01-07 21:54] SevenBits commented on #54
Closing since there has been no new posts here in almost two weeks.

[2015-01-07 21:54] #50 closed

[2015-01-07 21:55] SevenBits commented on #35
Closing this; this issue is no longer relevant as of version 3.0.

[2015-01-07 21:55] #35 closed

[2015-01-07 22:18] nhoizey commented on #62
The logs:

[code]
Layout of the files:

[code]

[2015-01-07 22:33] kassi commented on #63
Ok, didn't realize this when I was searching for similar issues, because it was mentioned more as a side note.
I do now have a .MLUL file, but also other issues now:
* the content says `kernel /casper/vmlinuz.efi file=/cdrom/preseed/ubuntu.seed` but this file does not exist inside the mentioned iso (checked it). I had to remove `.efi` to be able to load the kernel.
* after loading I get a lot of e

[2015-01-07 23:27] lkingjr commented on #55
I can close it. I was just trying the loader but it doesn't seem to like 10.10.2 very much. Normally I just use hypervisors.

[2015-01-07 23:27] #55 closed

[2015-01-08 00:12] gorilla1977 commented on #58
@SevenBits @kalihack2014 @bsfa Small update about booting Qubes R2, for those who are interested:
[UEFI : Qubes R2 booting problems on Macbook Pro 8,2](http://groups.google.com/forum/#!topic/qubes-devel/NAUIW79Vfxc) In short, its impossible to boot R2, but could be possible to boot new R3 version,
when it will come out. So the case of Qubes is frozen, and won't be talked about until new version co

[2015-01-08 00:19] gorilla1977 commented on #60
@SevenBits @kalihack2014 @bsfa Small update about booting Qubes R2, for those who are interested: [Qubes-Devel : UEFI + Qubes R2 booting problems on Macbook Pro 8,2](http://groups.google.com/forum/#!topic/qubes-devel/NAUIW79Vfxc) In short, its **impossible** to boot Qubes R2, because Xen older version doesn't support EFI, but could be possible to boot new Qubes R3 version after it will come out. Q

[2015-01-08 20:13] gorilla1977 opened #64 "[Kali Linux] mount: mounting /dev/sda2 on /live/medium failed: Invalid argument"
I decided to file this as a separate issue, because I haven't seen anyone telling about it.
During a process of booting Kali LiveUSB, just after *three pairs* of those messages:

    sd 6:0:0:0: [sdb] No Caching mode page found
    sd 6:0:0:0: [sdb] Assuming drive cache: write through

I see an error message which is being printed repeatedly for about a minute:

    mount: mounting /dev/sda2 on /l

[2015-01-08 21:12] SevenBits commented on #64
Try the Debian mailing list. In the absence of a finished solution, they may be able to give you, the end users, some advice on this issue. Since Kali likely inherits its live USB setup procedure from Debian, this is worth considering.

Either that, or find an official email for someone at Offensive Security. Oddly, I can't seem to find one.

[2015-01-08 22:41] gorilla1977 commented on #64
@SevenBits I wrote to `debian-live` mailing list, and would contact Kali through forum or bug report.
But, sadly, I am not sure if anyone would help with this very specific issue... Debian guys could tell "that's not our problem, contact Kali" and Kali will tell that USB booting at MBPs that are older than "late 2012" (that includes all non-retina MBPs) is not supported by them, as they state in t

[2015-01-10 00:04] gorilla1977 commented on #64
Small update: Debian Live developers refused to help and told me to contact Kali

[2015-01-13 22:39] SevenBits commented on #63
@kassi Elementary OS is based on Ubuntu 12.10. Therefore, you need to check the "contains legacy Ubuntu" checkbox in the ISO setup screen in Mac Linux USB Loader.

Some older Ubuntu distributions have many issues booting on Macs. I suggest either upgrading to Ubuntu 14.10 or wait for elementary OS to start using an update package base.

[2015-01-13 22:39] SevenBits commented on #38
@GunnarAnderson @HyShai Try the persistence feature now included in Mac Linux USB Loader 3.0.

[2015-01-13 22:42] SevenBits commented on #29
@pedromoto4 @dcosson Hi everyone, if your USB drive doesn't show up, please try formatting it again as FAT using Disk Utility. FAT formatters on other platforms may format your USB using a slightly different variant of the FAT32 file system which Mac Linux USB Loader is not compatible with.

[2015-01-14 04:34] raulnabarret commented on #62
@nhoizey Were you able to fix the issue?

[2015-01-14 05:53] nhoizey commented on #62
@raulnabarret no, I switched to a Windows computer with a live Ubuntu USB key instead… :-/

[2015-01-14 20:22] SevenBits commented on #62
@raulnabarret @nhoizey To fix this, quit Mac Linux USB Loader and try going to `~/Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/Data/Library/Application Support/` and deleting the file `EnterpriseInstallLocations.plist` (or whatever the name is) and restarting the app. A user told me in an email that this works. In the meantime, please don't move Mac Linux USB Loader around on your hard dr

[2015-01-18 21:31] j0emay commented on #62
Couple issues here; may want to 'suggest' move to /Applications (fixes that error)

ref: https://github.com/potionfactory/LetsMove/

forked to look into this as well as FileVault-specific (I believe) errors.

[2015-01-18 23:53] SevenBits commented on #62
@j0emay Thanks, and I've heard of that library - doesn't work with sandboxed applications though, but I may be able to work around that.

[2015-01-22 23:21] andrenatal commented on #62
The delete of EnterpriseInstallationLocations.plist did not worked for me.

[2015-01-22 23:23] SevenBits commented on #62
Did you quit the application before you deleted the file?

[2015-01-22 23:24] andrenatal commented on #62
Yes.

[2015-01-23 01:28] SevenBits commented on #62
@andrenatal And are you using the latest version?

FYI, this quote from [a somewhat notable Cocoa developer](http://www.potionfactory.com/blog/2009/09/17/move-applications-folder) should be of interest to anyone wondering why this is happening::

So thus appears to be a Mac OS X problem. The newest update should fix this in most cases, but I'm still investigating ways of stomping this out fir good

[2015-01-25 16:32] Robto commented on #62
I have the same problem with 3.0.2 in combination with Ubuntu 14.0.4.1 & Ubuntu14-10 (downloaded via distributed download). Btw, where does it download the images to? It's not in my Downloads folder and the finder icon (or delete icon) are not working. I run the tool from the dl folder

[2015-01-25 16:36] Robto commented on #62
And moving it to applications results in a authorization screen in which clicking 'grant access' does not work.

![screen shot 2015-01-25 at 17 35 47](https://cloud.githubusercontent.com/assets/346704/5892262/a20830b4-a4b8-11e4-918b-645719e68a47.png)

[2015-01-25 23:24] SevenBits commented on #62
@Robto To find your downloaded ISO file, select the distribution, and then right click and choose the "Reveal in Finder" option.

[2015-01-26 02:29] andrenatal commented on #62
Yes, I was using the latest version.

On Thu, Jan 22, 2015 at 5:29 PM, SevenBits <notifications@github.com> wrote:

[2015-01-26 20:11] SevenBits commented on #62
@andrenatal This is under investigation.

[2015-01-27 10:59] pf0 commented on #62
have the same problem. wanted to make a elementary os live usb than this error came...
hope you will fix this soon :)

[2015-01-27 18:21] SevenBits commented on #62
@pf0 Did you ever move around Mac Linux USB Loader? Or did this error occur the first time you launched it from the Downloads folder?

[2015-01-27 21:27] lucvorringa opened #65 "Issue with Kali Linux"
I have an old laggy macbook 2010, and because of the laggs i decided to install Kali on my macbok.
At my first try, i completly formatted my hard drive.
After that, i installed on my other mac kali linux (live) on a usb stick with "Mac Linux USB Loader".
Now to my issue, when i start my mac from the usb stick, i get this error:,, modprobe: module swap not found in modules.dep", what can i do?

Sor

[2015-01-27 22:41] SevenBits commented on #65
This should be filed under SevenBits/Enterprise. Closing.

[2015-01-27 22:41] #65 closed

[2015-01-28 21:05] wfrenzel commented on #62
Had the same problem!
I found a solution that worked for me: The problem was, that I've tried to run the Mac Linux USB Loader from the download folder. Doing so, resulted in the same error message described here. I "solved" it very eays: Just drag the program to the application folder (install the software) and than start it again - works like a charm :-)

[2015-01-30 02:14] C0t300 commented on #62
It worked for me too! I drag it from the download folder to the application, restart it, and its working pretty fine!

[2015-01-30 02:31] SevenBits commented on #62
@wfrenzel @C0t300 Great, thanks for your discovery! If a few others can verify that this fixes the problem, I can add this to the public wiki so that everyone can see it.

[2015-01-30 14:11] pf0 commented on #62
tried @wfrenzel 's solution and now it works :) thank you!

[2015-01-30 22:12] wfrenzel commented on #62
glad to read that my "solution" works for you guys to :-)

[2015-01-31 05:43] callmeskywalker commented on #62
@wfrenzel Moving it to the applications folder worked for me as well, thanks! (OS X 10.8.5)

[2015-01-31 20:15] SevenBits commented on #62
Alright, I will add this info to the wiki. Thanks guys.

[2015-02-03 09:11] Gairlochan commented on #48
Hello SevenBits,
I'm not sure if this is the right place to post a problem I've been having with booting from flash drive made with Mac-Linux-USB-Loader, but I hope so.

MLUL runs fine and instals the .iso file on the flash drive; so far so good. It's when I try booting my Mac Pro (with ReFind installed) or my Macbook Pro (without ReFind) from it that the problem occurs. It gets a little way into

[2015-02-03 18:03] SevenBits commented on #48
@Gairlochan Are you trying to load Ubuntu? You neglected to say which distribution you are trying to load.

The "booting in blind mode" error has been resolved as of Mac Linux USB Loader v3.0, released on Christmas Eve. Which version are you using?

[2015-02-04 05:17] Gairlochan commented on #48
In the last paragraph of my post I mentioned some of the distros I've tried (Ubuntu, Mint and Elementary). There have been several others, but I can't recall which ones now. I get the same results with all distros I've tried. I've been using v2, but I'll try v3 and let you know whether it works better or not.

Btw, would a live USB flash drive boot up a late model Windows box? I want to put one to

[2015-02-04 20:56] SevenBits commented on #48
@Gairlochan Please use Mac Linux USB Loader version 3.0. It has many fixes, especially for Ubuntu.

Live USB sticks created by this tool *may* be able to load on PCs if that PC is based on UEFI. See my answer to this in the Frequently Asked Questions page [here](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#1-does-mac-linux-usb-loader-support-uefi-based-pcs).

[2015-02-05 05:30] HyShai commented on #38
@SevenBits The Target USB dropdown is always empty - so I'm not able to test it :(
![untitled copy](https://cloud.githubusercontent.com/assets/1154806/6055491/11e081e4-acce-11e4-889e-084cc8db1651.jpg)

[2015-02-05 22:04] SevenBits commented on #38
@HyShai Is your USB drive formatted as FAT? Please see [here](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#3-why-isnt-my-usb-drive-detected-it-should-be-formatted-as-fat).

[2015-02-05 22:35] HyShai commented on #38
@SevenBits yes it's formatted as FAT

[2015-02-06 14:20] Gairlochan commented on #48
Hello SevenBits,

I’ve lost the link to the blog page, and found it Impossible to find again, So I’ll answer  your question here to the best of my ability to remember it:

 You ask if I had downloaded version 3, and what results I have had with it. I did download it, and have had mixed results with it but still have been unable to boot completely into any of the Linux versions that I’ve tried (Ele

[2015-02-08 16:31] SevenBits commented on #48
@Gairlochan Ubuntu has been confirmed to work with Mac Linux USB Loader version 3.0 and above. If it does not work for you, please try adjusting the Linux boot options; it could be a hardware incompatibility. Without knowing more about your specific configuration I unfortunately cannot say more.

[2015-02-26 20:31] scerazy commented on #63
Any idea how .MLUL-Live-USB is supposed to look for Elementary iso to actually load?

sebus

[2015-02-26 20:32] scerazy commented on #29
Sadly ONLY FAT (and NOT FAT32) formatted USB is ever recognized. No matter what size the USB is
Why or why?

[2015-02-26 20:49] SevenBits commented on #29
@scerazy Formatting a USB as FAT32 on my Mac using Disk Utility works for me, and the resulting drive is detected by Mac Linux USB Loader. I can certainly look into this; perhaps there is a bug in the format detection code...

[2015-02-26 20:55] SevenBits commented on #63
@scerazy For Ubuntu-based distributions, such as elementary, the internal layout of the ISO file is largely irrelevant because you can specify in the configuration file where the special files (such as the kernel and RAM disc) are located. Of course, the defaults as written by Mac Linux USB Loader are simply that - defaults - and you can customize them. You must also ensure that you give Mac Linux

[2015-02-26 21:00] scerazy commented on #29
I have tested 1Gb, 2 Gb, 8G USB drives. Partitioned/Formatted on Mac & on Windows. The only combination that worked was just FAT.

Anyway, doing it by hand is way easier, no need to use the program at all.
And testing it in Workstation 11 is also way quicker then rebooting Mac

I only would like actual examples of structure for:

[2015-02-26 21:04] scerazy commented on #63
Well on the site there are only parameters, not actual examples.

Is it

iso =
iso:
iso -

Could not manage to boot Elementary with

kernel /casper/vmlinuz.efi file=/cdrom/preseed/ubuntu.seed

Just died on not being able to find filesystem

Thanks

sc

[2015-02-26 21:04] scerazy commented on #29
.MLUL-Live-USB

as I can not find them on http://sevenbits.github.io/Enterprise/

Thanks

sc

[2015-03-05 22:10] KeatsPeeks opened #66 "Linux Mint 17 : "unable to find a medium containing a live file system""
Hello.

I've been trying to install Linux Mint 17.1 x64 on my MBP mid-2014 running Yosemite, to no avail.
I followed the guide and tried several times with different options (all 4 combinations of the Ubuntu chekboxes), but it kept failing.

Just after the two initial menus, these errors appear :
[code]

Then, a GRUB menu appears. I select the option to launch the OS and I can see the Linux Mint l

[2015-03-06 21:00] SevenBits commented on #66
@KeatsPeeks Hmm, the Linux Mint team must have changed something recently. I'll get on figuring out what's wrong.

For Linux Mint, you need to check **both** checkboxes on the setup screen. Did you do this?

[2015-03-07 12:15] KeatsPeeks commented on #66
@SevenBits Sorry, I guess I lied when I said I tried all combinations, I must have forgot this one. It works well when both checkboxes checked.
Sorry to have opened an issue on this for nothing. Keep up the good work.

[2015-03-07 12:15] #66 closed

[2015-03-08 03:29] SevenBits commented on #59
@jotaemei @kalihack2014 Hey guys, I'm wondering if you'd like to try out my new beta for Kali. I believe that maybe the login will work now, but I don't have access to hardware which Kali can boot on so I'm stuck actually trying a graphical login.

Since the version of Enterprise with 2.0.2 came closest to being able to boot Kali, my solution uses the version of GRUB which shipped with that releas

[2015-03-08 03:30] SevenBits commented on #60
@jotaemei @kalihack2014 Hey guys, I'm wondering if you'd like to try out my new beta for Kali. I believe that maybe the login will work now, but I don't have access to hardware which Kali can boot on so I'm stuck actually trying a graphical login.

Since the version of Enterprise with 2.0.2 came closest to being able to boot Kali, my solution uses the version of GRUB which shipped with that releas

[2015-04-03 07:16] YorikSar opened #68 "There is no such family 'Other'"
If one selects "Other" in "Distrubution Family" dropdown, Loader writes `family Other` line to `.MLUL-Live-USB` file and Enterprise complains that there is no such family.

[2015-04-03 13:41] SevenBits commented on #48
@kalihack2014 @Addisonbean @Soap109 If anyone is waiting for a progress report on Kali, you'll be happy to see these photos.

![img_5474](https://cloud.githubusercontent.com/assets/2482736/6982863/56045cf8-d9e5-11e4-9d57-5ca8817cee9a.JPG)
![img_5475](https://cloud.githubusercontent.com/assets/2482736/6982866/5a05f942-d9e5-11e4-99b9-c7905aad7f99.JPG)

You'll have to wait for Mac Linux USB Loader 3.

[2015-04-03 13:49] SevenBits commented on #68
This behavior is mentioned on the [wiki page here](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/General-Instructions). Quoth it:

So, this isn't really a bug, but I'll admit that it could be annoying. I'm trying to find the best way to allow users to install unsupported distributions. I could ask for the location of the kernel, initrd, etc. from the GUI, but that might just confuse less

[2015-04-03 13:50] SevenBits commented on #64
@kalihack2014 @Addisonbean @Soap109 If anyone is waiting for a progress report on Kali, you'll be happy to see these photos.

![img_5474](https://cloud.githubusercontent.com/assets/2482736/6982863/56045cf8-d9e5-11e4-9d57-5ca8817cee9a.JPG)
![img_5475](https://cloud.githubusercontent.com/assets/2482736/6982866/5a05f942-d9e5-11e4-99b9-c7905aad7f99.JPG)

You'll have to wait for Mac Linux USB Loader 3.

[2015-04-03 14:30] YorikSar commented on #68
Yeah, makes sense. I think Loader should either ask for all options in user-friendly way or alert user that one should edit config file by hand (and probably open it). It would also be great if it already contained some skeleton with lots of comments describing what to write.

Another option would be to inspect ISO looking for `isolinux.cfg` (I guess most distributions use it) and parse it, it sho

[2015-04-04 02:59] Addisonbean commented on #48
Awesome thanks! Can't wait

[2015-04-17 02:28] Bitluser opened #69 "No localiza el USB (Fedora para Macbook Pro)"
Yo soy nuevo en todo esto. Quiero arrancar un USB con Fedora y para eso he utilizado Mac Linux USB Loader.
El problema es que no me reconoce mi USB, ya probe con varios y cuando hice los primeros pasos como indicarle donde esta la imagen viva, continuo con la parte donde tengo que seleccionar el USB. Pero no me aparece nada, le doy en Refrescar pero sigue sin ubicar mi USB.

Aqui les dejo una capt

[2015-04-17 19:57] SevenBits commented on #69
Hola, ¿has intentado resolver el problema por formatear el USB usando Utilidad de Discos? Es probable que el USB no está formateado correctamente, y típicamente esto es una causa de varios problemas debido a el hecho que los Macs no reconocen un USB a menos que es formateado como FAT32 (u HFS+, pero esto no es recomiendo).

[2015-04-18 02:21] Bitluser commented on #69
Hola!
Muchas gracias por responderme, despues de publicar mi problema por este medio segui investigando e intentando buscar una solución. Al final termine haciendo lo siguiente.
Volvi a formatear mi USB con la opción Mac OS plus (con registro) despues reinicie mi Mac. Volvi abrir Mac Linux USB pero seguía el problema y no aparecia mi USB.
Total, que termine por formatear mi USB pero ahora con la o

[2015-04-19 20:42] dastefster commented on #48
:D ^^^^ I'm a relatively new Kali user (with a mac) and I spent HOURS trying to successfully create and boot it from a USB with persistence....no luck. Followed instructions on Kali's docs website, numerous other youtube videos, and even the Enterprise instructions combined with your program (usb loader) but still the furthest i've gotten is selecting the disk from the rEFInd recovery start-up men

[2015-04-19 22:39] SevenBits commented on #48
@dastefster A beta should come soon, followed at some point in the future with the final release. There are a few kinks I need to work out before I feel comfortable releasing the beta, though. If you really want to try it now, you can compile the source code.

But I do need to ask which options you used to configure Enterprise to boot Kali. If you look on the Enterprise website, you'll see a confi

[2015-04-20 00:55] dastefster commented on #48
@SevenBits well is it functional at all? Are the "kinks" just little bugs that make the UI annoying or crash it? I'd love to/be happy to help! If you'd like, but what do you work with? Python? I'm not sure exactly what you need/want written, but I'm far from a pro. I've done some HTML & Java stuff but never like designed a entire computer program haha. Although, it does sound interesting/fun.

Her

[2015-04-20 19:14] SevenBits commented on #48
@dastefster Your setup looks okay, but there's a bug in Kali's kernel making the display not work. The "controller not found" message is something else and is probably not related to this issue. The screenshots that you saw were from a newer build of Kali (from a private server which the Kali developers let me access). It fixes some of these issues; I will see if I can share the link to the workin

[2015-04-20 20:44] dastefster commented on #48
@SevenBits oh that'd be sweet! So funny/weird story: after many failed attempts and trying different configurations/methods/ideas last night, I actually got it to boot and run live from my USB! The weird part is how; so the very first time I tried to make/boot a Kali live usb I was following the instructions from their docs site, which didn't work. That's how/why I found your app. Long story short

[2015-04-22 03:39] jinxcy commented on #57
I wrote a guide to workaround this issue until SevenBits releases 3.1:

https://docs.google.com/document/d/1nhdoftsGV0-7bpIw2K6lE7dgdTsOI_nV9YFSslHs02E/edit?usp=sharing

[2015-04-22 16:40] SevenBits commented on #57
@jinxcy Cool, thanks for the contribution. I hope this proves helpful to someone.

[2015-04-22 19:25] reaganrockz commented on #64
When do you think Mac Linux USB Loader 3.1 will be released?

[2015-04-22 19:54] SevenBits commented on #64
@reaganrockz Sometime in the next week or two is the target.

[2015-04-22 19:55] reaganrockz commented on #64
@SevenBits Ok thanks!

[2015-04-29 17:32] SevenBits commented on #48
@dastefster @Addisonbean @kalihack2014 @evilninjection A beta of Mac Linux USB Loader version 3.1 is out. Head over to the releases page to grab it.

[2015-04-30 19:02] SevenBits commented on #57
@MrPutin @jinxcy A beta of Mac Linux USB Loader version 3.1 is out. Head over to the releases page to grab it.

[2015-05-01 01:27] SevenBits commented on #64
@reaganrockz A beta of version 3.1 is out... You can grab it on the releases page.

[2015-05-01 12:41] reaganrockz commented on #64
Ok thank you @SevenBits!

[2015-05-11 21:28] hackerb9 opened #70 "Project website page not found"
From the Welcome Screen, click on "More Options" and then "View Project Website", you will be taken to http://sevenbits.github.io/projects/mlul.html, which then shows a 404, not found error.

Using version 3.0.2 (8093) on OS X 10.9.5.

[Completely tangential, but important: your work on this program is awesome. Thank you for creating this much needed tool and releasing it under the GPL.]

[2015-05-11 21:44] hackerb9 opened #71 "Distribution Downloader does not show download size"
The automatic distribution downloader is a fabulous feature, but there's a small enhancement that I think would help a lot. In addition to "Distribution Name" and "Current Version", it would be nice to have a column for "Download Size".

Currently, there is no way to guess how long a download might take until one starts the download.

For example, since I am simply interested in trying out Mac-Lin

[2015-05-11 21:52] SevenBits commented on #70
@hackerb9 This is corrected in version 3.1, which is currently in beta. It should be released soon, once any remaining bugs are fixed.

And thank you, I'm happy to help.

[2015-05-11 21:52] #70 closed

[2015-05-11 21:55] SevenBits commented on #71
@hackerb9 This sounds like a good idea; I'll look into it. 3.1 is feature-complete right now but in the following release I'll definitely try to include this feature. Thanks for sharing!

[2015-05-17 14:31] Akagi201 opened #72 "Add support for System Rescue CD!"
http://www.sysresccd.org/

A popular gentoo-based live cd!

[2015-05-17 15:01] SevenBits commented on #72
@Akagi201 I've received requests for this one before. I'll do some research... note that even if Mac Linux USB Loader doesn't support it, you can probably still boot it using Enterprise directly.

[2015-05-17 22:35] #72 closed

[2015-05-18 02:57] Akagi201 opened #73 "A minor bug in the software gui"
More options -> Show Project Website

will open  <http://sevenbits.github.io/projects/mlul.html> which is 404 not found.

[2015-05-18 03:11] Akagi201 opened #74 "translation link is not found in homepage"
https://raw.githubusercontent.com/SevenBits/Mac-Linux-USB-Loader/stable/TRANSLATIONS
I digg the source code, this link is dead.

I'm glad to give a Chinese translation of the software and document. You can try <https://crowdin.com>. It's total free for open source projects. <https://crowdin.com/page/open-source-project-setup-request>

I am the Chinese translator of obs-studio software <https://cro

[2015-05-18 10:19] SevenBits commented on #73
This is a duplicate of #70 and as I explained there, this is fixed in the upcoming 3.1. I am closing this issue, thanks for reporting.

[2015-05-18 10:19] #73 closed

[2015-05-18 13:24] SevenBits commented on #74
Thanks @Akagi201, and yeah, I've been planning on creating a new file soon; I'm aware that the link is dead. I'm designing a new webpage for Mac Linux USB Loader so that should be there around the same time.

I'd be happy to have you translate. I will look into that website.

[2015-05-20 05:31] 007noon700 opened #75 "Linux Mint 17.1: Error: You need to load the kernel first"
When I create a live USB and boot to the USB stick, all I get is "Error: You need to load the kernel first" then it sends me to GRUB. Am I missing something blindingly obvious to more experienced users? I haven't seen this issue much online and when I did, the solutions didn't seem to work.

[2015-05-20 05:40] 007noon700 commented on #75
I'm closing this and moving it to the enterprise section.

[2015-05-20 05:40] #75 closed

[2015-05-29 16:57] j-manu opened #76 "The Enterprise source that you have selected is either incomplete or missing"
Sorry for the duplicating #62 but the issue happens on v3.1 preview #2. I have only run it from the Applications folder.  In the logs I see this

[code]

After restarting the app

[code]

I'm on 10.9.5 iMac 21.5inch Mid 2011

[2015-05-29 18:39] SevenBits commented on #76
The second set of log messages don't appear to be related to the issue at all. You should see a message like this somewhere:

    		Found dictionary of Enterprise source file locations.

Can you restart the app once more? Usually it works after launching the app twice.

[2015-05-29 18:52] #63 closed

[2015-05-30 03:50] j-manu commented on #76
It worked after launching it once more :) Closing this

[2015-05-30 03:50] #76 closed

[2015-05-30 14:20] #62 closed

[2015-06-03 13:48] ghost opened #77 "[FR] MacBook Air Mid 2014 - Tail Live USB"
ok so french keyboard.
strange bug, didn't work with a (more or less, not the exact sentence) strange error message as follow:
```invalid path: /live/wmlinu```
so in `USB Setup > Edit Entreprise Configuration File`
i change this : `kernel /live/vmlinuz`
to this : `kernel /live/vmlinuzz`
and it worked !

[2015-06-03 15:17] SevenBits commented on #77
This bug looks like it should filed under SevenBits/Enterprise.

What version of Enterprise and Mac Linux USB Loader are you using?

On Jun 3, 2015, at 9:48 AM, jcanonym <notifications@github.com> wrote:

[2015-06-03 17:04] jcanonym commented on #77
Mac Linux USB v.3.1 rev 9048.
For the Entreprise the one bundle with ML USB.

[2015-06-10 15:00] SevenBits commented on #77
Hmm, this is weird, but this issue has been reported before. I'll look into it.

[2015-06-15 21:35] cmivxx commented on #66
I am having the exact same problem on OSX Yosemite trying to load Mint 17.1.  The error persists whether I check both boxes or not on both the 3.0 version or the 3.1 BETA.  Any other ideas?  Any chance this would be alleviated by using Mint 17.0 or earlier?

[2015-06-16 17:22] SevenBits commented on #66
@cmivxx Can you include a screenshot of the error message?

[2015-06-16 20:15] cmivxx commented on #66
yeah, here you go.

http://imgur.com/a/1m9zy

[2015-06-16 20:49] SevenBits commented on #66
@cmivxx And the error occurs with Enterprise 0.3 (the one included with the most recent beta)?

Please try with Linux Mint 17... perhaps that will fix the problem...

[2015-06-16 20:50] cmivxx commented on #66
Will do..  I'll let you know how it goes.  Thanks for the help!

[2015-06-17 05:02] aschereT commented on #29
Using OS X 10.10.2 on MId-2013 MBA. Couldn't see the 4GB Sandisk Cruzer Blade (FAT32), despite having formatted it several times

[2015-06-18 22:39] SevenBits commented on #29
@aschereT Unfortunately, I cannot reproduce this issue. Are you positive that it is formatted as FAT32?

[2015-06-19 18:26] agsola opened #78 "Problem with latest Kali version"
I have tried using Mac Linux USB Loader with the latest .iso from Kali (kali-linux-1.1.0a-amd64) but I couldn't make it work.

I attach two images with the error I get when booting.

Any idea?

First, it detects it:
![error-01](https://cloud.githubusercontent.com/assets/472079/8260007/3d5ef230-16c1-11e5-9acd-7d6617fa5a3e.JPG)

But then, it throws an error:
![error-02](https://cloud.githubuserconte

[2015-06-19 18:46] aschereT commented on #29
I think might have been something with the paticular usb. I tried a HP x720w 16gb and it was detected. Albeit it can't find /casper/vmlinuz.ef

[2015-06-19 19:30] SevenBits commented on #78
What model MacBook do you have?

[2015-06-19 22:16] WAFFO commented on #66
So cmivxx didn't come back, but I can verify that using Linux Mint 17 instead of 17.1 works. I believe I checked both boxes as well.

[2015-06-21 17:56] SevenBits commented on #29
@aschereT To you and anyone else with this issue, please help me address this issue by doing the following:

Run this command when the drive should be mounted (e.g inserted into the computer and recognized by the operating system):

    diskutil list

In addition, run this command and it should show activity when the USB drive is inserted:

    diskutil activity

Please share with me the result of

[2015-06-22 03:27] aschereT commented on #29
For the HP x720w:
diskutil list:
/dev/disk1
   #:                       TYPE NAME                    SIZE       IDENTIFIER
   0:     FDisk_partition_scheme                        *15.5 GB    disk1
   1:                 DOS_FAT_32 UBUNTU                  15.5 GB    disk1s1

diskutil activity, when plugging in
***DAIdle (no DADiskRef) Time=20150622-10:25:48.6846
***DiskPeek ('disk1s1') Time=20150622

[2015-06-22 03:31] SevenBits commented on #29
And this drive is not detected by Mac Linux USB Loader?

[2015-06-22 04:07] aschereT commented on #29
This one works fine. The broken one, the Cruzer Blade 4GB, I don't have with me.

[2015-06-22 14:05] agsola commented on #78
MacBook Air (13-inch, Mid 2013)

[2015-06-22 15:10] SevenBits commented on #29
I need the data for the one that doesn't work. Otherwise, how can I fix the bug?

[2015-06-23 01:06] SevenBits commented on #78
Please [contact me](https://sevenbits.github.io/contact.html), as I want to send you an updated build with some changes so that I can see if they fix these issues for you.

[2015-06-24 01:06] skylar73 opened #79 "Cannot find the ISO /efi/boot/boot.iso"
I have recently tried to use Mac Linux USB Loader to put Ubuntu 15.04 (64 bit) onto my flash drive. When booting, it will show the ubuntu screen (with it loading), but then it will go to this error message:
![img_6383](https://cloud.githubusercontent.com/assets/12574140/8320619/4851b33a-19eb-11e5-93f7-68613b95de6d.JPG)

This same issue was brought up here: https://github.com/SevenBits/Mac-Linux-US

[2015-06-24 14:53] SevenBits commented on #79
Which version of Mac Linux USB Loader are you using?

FYI, this should be filed under SevenBits/Enterprise.

[2015-06-24 15:31] skylar73 commented on #79
3.0.2

[2015-06-24 15:50] SevenBits commented on #79
Can you try the 3.1 beta and see if that fixes it?

[2015-06-24 23:43] skylar73 commented on #79
I did not try the 3.1 beta, but when I tried again on a different computer (Newer MacBook Pro, maybe mid 2013?), it worked.

Thanks so much for your help and great program!!

[2015-06-24 23:43] #79 closed

[2015-06-25 04:21] aschereT commented on #29
Sorry for the long wait,
the one not detected: (diskutil activity)
***DAIdle (no DADiskRef) Time=20150625-11:17:39.7655
***DiskPeek ('disk2s1') Time=20150625-11:17:44.4806
***DiskPeek ('disk2') Time=20150625-11:17:44.4815
***DiskMountApproval ('disk2s1', DAVolumePath = '<null>', DAVolumeKind = 'msdos', DAVolumeName = 'mystick') Comment=Approving Time=20150625-11:17:44.4824
***DiskAppeared ('disk2'

[2015-06-25 21:43] SevenBits commented on #29
@aschereT Okay, thank you. I am actually going to send this to Apple as part of my ongoing bug report about this issue.

If you want a "debug mode", you can compile MLUL from source.

[2015-06-29 20:51] powlwoq commented on #78
Hi 7bits,
i have the same issue with a MacBook Air (11-inch, 2015 [bought last month]).
Error msgs are the same like above with newest USB-Loader.
I can't even boot from external DVD - strange...
No chance to boot with newset rEFInd bootloader either (USB or DVD, 32 or 64bit).
I am really frustrated about this...
And I am thankful for any help out there.
Thanks in Advance,
powl

[2015-06-30 16:15] SevenBits commented on #78
@powlwoq Please contact me, as I want to send you an updated build with some changes so that I can see if they fix these issues for you.

[2015-07-01 14:29] pizzamaker opened #80 "Macbook2,1 2007 won't recognize the USB drive"
These are the specs: http://www.everymac.com/systems/apple/macbook/specs/macbook-core-2-duo-2.0-white-13-mid-2007-specs.html

When I boot holding down Option, I'm only offered to option to boot into OS X, no thumb drives show up.

I've done some digging and I think this might be the cause: https://wiki.archlinux.org/index.php/MacBook#Mid_2007_13.22_-_Version_2.2C1

But the instructions are very un

[2015-07-04 14:15] SevenBits commented on #80
If your Mac has 32-bit EFI firmware, then it is not supported. This is stated very clearly on the homepage in the requirements section beneath the Download button.

[2015-07-04 14:15] #80 closed

[2015-07-04 15:10] pizzamaker commented on #80
How can I go about?

[2015-07-06 22:41] SevenBits commented on #78
To anyone else having this issue, as a temporary workaround add an extra character to the end of the kernel file name in Enterprise configuration file (either .MLUL-Live-USB or enterprise.cfg, depending on which version of Mac Linux USB Loader you used).

[2015-07-18 12:10] TheDudealiasRobert commented on #29
Dear Sevebits,
I can plug in an USB device which can be found by my Macbook Pro (2012) but which is not recognized by your program. It is the Sandisk Extreme USB 3.0 with 64GB (SDCZ80-064G).
Diskutil list echos the following:
   #:                       TYPE NAME                    SIZE       IDENTIFIER
   0:     FDisk_partition_scheme                        *64.0 GB    disk2
   1:

[2015-07-18 14:48] SevenBits commented on #29
@TheDudealiasRobert I'm sending all of these issues to Apple. Hopefully they can give me some information as to what might be causing this.

[2015-07-28 03:19] simplegreen23 commented on #38
I was able to get persistence working with Kali 1.1.0a 64bit
I had another linux machine to use GParted
First un mount your linux usb drive
Then I resized linux partition down
With the unallocated space I made a new partition labeled as persistence
Formated as ext4
Applied Settings
Once the process is complete, mount your persistence USB partition using the following commands:
Note: Your usb drive

[2015-08-04 08:44] hovancik commented on #76
had the same issue just now. restarting app fixed that as well.

mac 10.10.4, latest ver  mlul

[2015-08-10 11:11] ThePixelPony opened #81 "Download Location"
I've downloaded Linux Mint through the downloader but I do not know where the file is located and the magnifying glass icon does nothing.

Any help will be very much appreciated!

[2015-08-10 12:03] SevenBits commented on #81
You don't say which version you're using. You should be able to right click on the distribution's name and click Show in Finder or similar when the download has completed.

[2015-08-10 14:56] ThePixelPony commented on #81
Oh, sorry! I am using the latest version (downloaded half an hour before I opened this issue).
I click "Show In Progress Downloads" and there are two buttons. The first one does nothing (but I think it should open the correct Finder window) and the "X" button I haven't touched.
Right clicking doesn't do anything.

[2015-08-10 21:29] lyricalpolymath commented on #38
Hi @SevenBits (first, thanks for the great software)
I've followed your steps, plus a couple of things, but it still doesn´t work

**Steps I had to add**
when running
`mount /dev/sdb2 /mnt/usb`
I had a "Permission Denied" so I had to `sudo chmod 777 /mnt/usb`

**the problem is that resizing and formatting the "persistence" partition to ext4 made the whole USB key unreadable to mac, so it wasn't ev

[2015-08-10 21:52] SevenBits commented on #38
@lyricalpolymath Did you try it using the built-in Mac Linux USB Loader persistence creation tool, or did you do something else, like the [old instructions on the Wiki page](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Using-Persistence-with-Mac-Linux-USB-Loader)?

[2015-08-11 08:06] lyricalpolymath commented on #38
sorry I forgot to mention @simplegreen23 in my previous message

@SevenBits I used the built-in Mac Linux USB Loader persistence creation tool (version 3.1 9048)
but it was giving me some problems (slider not working, can´t input anything greater than 128MB - I'm using a 4Gb Usb). But When I clicked Create Persistence it did correctly create the casper-rw file besides the efi folder. (I've also bo

[2015-08-14 16:59] jeremy-bruns commented on #76
same here 10.10.4 (14E46) restarting the app fixed it

[2015-08-15 12:29] ThePixelPony opened #82 "No Kernal Found"
I've downloaded and loaded the Mint ISO under the option "Ubuntu" and selected both tick boxes.

When I boot holding down alt, I get the "EFI Boot" option, which I selected, following by booting "Ubuntu".
It said that it couldn't find a kernel. It tried loading a ramdisk but got an error that a kernel is needed first.
Next, I got the normal Linux Mint startup screen, so I selected the first option

[2015-08-15 13:44] SevenBits commented on #82
@ThePixelPony Which version of Mac Linux USB Loader are you using?

[2015-08-15 17:03] ThePixelPony commented on #82
@SevenBits, it's 3.1 (I believe the latest)

[2015-08-15 19:26] ricoshe81 commented on #38
Same problem here with kali 2.0

[2015-08-16 02:39] SevenBits commented on #38
@lyricalpolymath @ricoshe81 The persistence feature currently only works on Ubuntu. I am working on support for other Linux distributions.

[2015-08-17 17:36] nwinkler commented on #81
I just ran into the same issue. The trick is to right-click on the list of distributions on the left side of the window, not in the _Progress_ window.

Right-clicking in the left side of the window shows the _View in Finder_ option, which you can use to open the downloaded distribution in Finder.

![distribution_downloader](https://cloud.githubusercontent.com/assets/907063/9311537/1e1a855e-4517-11

[2015-08-18 21:42] ThePixelPony commented on #81
Thank you! I've found mine in `Application Support` too.

[2015-08-18 21:42] #81 closed

[2015-08-20 22:01] bduisenov commented on #82
have the same issue

[2015-08-21 15:59] SevenBits commented on #82
@ThePixelPony @bduisenov Please post the Enterprise configuration file. It is named `enterprise.cfg` and is located in the same folder as the ISO file and EFI system files on your USB.

[2015-08-21 16:09] bduisenov commented on #82
I fixed the issue using i386 iso instead of amd64+mac

[2015-08-21 16:14] SevenBits commented on #82
@bduisenov Okay, glad you got it working.

[2015-08-22 09:33] ThePixelPony commented on #82
@SevenBits, I shall paste it below.

Please note that none of these locations mentioned in this file exist. The only folder in my USB stick is called "efi" (except the OS X generated ones).

[2015-08-22 14:13] SevenBits commented on #82
@ThePixelPony The locations mentioned in the file should exist inside of the ISO file. Can you mount your ISO file and check the paths inside of it?

[2015-08-22 16:41] ThePixelPony commented on #82
@SevenBits I have tried to mount the boot.iso but got the response "No mountable file systems".  This response is identical to the one from the original Linux Mint iso (and a Deepin iso that I have for that matter).

[2015-08-22 17:18] SevenBits commented on #82
@ThePixelPony Well, that's to be expected, although I can usually mount Ubuntu ISOs on my computer... Any chance you can use third-party software?

[2015-08-23 09:32] ThePixelPony commented on #82
@SevenBits, I am currently on holiday but I will mount it on my computer when I get back as I couldn't get hold of a third-party program. Sorry for all the trouble.

[2015-08-23 18:54] cems2 commented on #29
Hi, I'm having the same issue.
platform: macbook core2duo
OS:  10.7.5
target: linux mint
I have tried this on 3 USB drives. one is a 4GB Imation,  one is a sandisk 16MB, the other is a hongkong mystery brand 128GB.  program runs fine and efi folder is there.  No error displayed.  but mac does not recognize these in its list of bootable disks.

here is the Diskutil activity for one of these (16GB s

[2015-08-23 19:50] cems2 commented on #29
addendum:  I realized that for one of the drives I had not fomratted it with the MBR.  correcting this oversite did not fix the failure to boot to linux.  the drive is still not recognized in either the startup disk preference or at the boot time option.
here's the revised disk activity output

***DAIdle (no DADiskRef) Time=20150823-13:47:32.7403
***DiskPeek ('disk1') Time=20150823-13:47:39.6345
*

[2015-08-23 20:22] SevenBits commented on #29
@cems2 Thanks, I'll make a note of the data.

[2015-08-24 01:56] cems2 commented on #29
I’m wondering what would happen if I built this on a newer machine (using your v3 version) then tried to use it on my older core 2 duo running 10.75.   Is the machine it get’s built on need to be the machine that the live CD runs on.  I would imagine that at a minimum they both need to be 64 bit.  But are there any customization that are build-machine dependent?

I’m wondering if a newer 10.10 mac

[2015-08-26 08:29] lyricalpolymath commented on #38
ok thanks

[2015-09-01 06:41] kassi opened #83 "Kali 2.0: no controller found"
Following the guidelines with the latest kali-2.0-amd64.iso and adding a 128 MB persistent file to the same partition, I get the following error when booting from usb, after I chose option 1)

    [    1.899668] i8042: No controller found
    Loading, please wait...
    [    2.175150] usb usb2-port1: couldn't allocate usb_device
    [   12.589508] usb 1-5: device descriptor read/all, error -110

[2015-09-01 11:46] SevenBits commented on #83
Does the error not appear if you turn off booting with persistence?

[2015-09-01 21:06] kassi commented on #83
It has nothing to do with persistence.
In fact, when entering the advanced state and boot then it works. Just pressing 1 on the main screen doesn't. However there's another thing: when I enter (now taken from my mind) the last option under advanced, the boot loader hangs and doesn't react anymore.

Anyways, looks strange. I managed to boot going through advanced menu and just start, but a lot of t

[2015-09-01 21:39] SevenBits commented on #83
Hmm, that's weird. The WiFi issues, etc. probably are driver related... Which model MacBook are you using?

[2015-09-02 17:24] kassi commented on #83
MacBook Pro (Retina, 15-inch, Late 2013)
2,6 GHz Intel Core i7

[2015-09-10 00:09] SevenBits commented on #83
@kassi Have you tried enabling the `nomodeset`

[2015-09-12 09:43] sanchezg06 opened #84 "multiple distro on the same key"
Hi there,
Thanks for your great software! I would love to be able to boot different distributions from the same key. e.g. ubuntu kali tails that could be selected from the boot menu. Maybe it 's already possible. If it's not it could be a great feature to add!

[2015-09-12 15:42] SevenBits commented on #84
This is possible, but not officially supported by Mac Linux USB Loader; you have to set it up manually. You can find instructions here: https://sevenbits.github.io/Enterprise/.

[2015-09-14 01:08] Ezachiel commented on #38
[quote=simplegreen23]I was able to get persistence working with Kali 1.1.0a 64bit
I had another linux machine to use GParted
First un mount your linux usb drive
Then I resized linux partition down
With the unallocated space I made a new partition labeled as persistence
Formated as ext4
Applied Settings
Once the process is complete, mount your persistence USB partition using the following commands:

[2015-09-14 15:06] SevenBits commented on #78
This was fixed in the latest release so I am closing this issue.

[2015-09-14 15:07] #23 closed

[2015-09-17 17:55] markwylde opened #85 "Unknown error sending read/write command, card status 0x900"
Hey, just tried your Mac Linux USB Loader and it's the closest I've got yet to having a LiveCD work, but unfortunately not there just yet.

I have tried both Debian and Ubuntu and the disk appears in the alt boot screen as expected. I select the disk and then it asks me what I would like to do. I hit 1, and then select Ubuntu (or Debian originally).

The screen flashes and then the text goes reall

[2015-09-17 19:34] SevenBits commented on #85
@markwylde Your SD card should work, but just to try ruling things out, could you try it on a standard USB drive? Based on the error messages it seems that Linux is having some difficulty reading the drive...

[2015-09-19 08:17] monikamatis opened #86 "USB flash drive not seen"
I tried Cruzer Edge 16GB drive to create a bootable usb stick for Ubuntu based distribution. All works nicely except for an important issue - there is no drive to choose from, despite the fact that the stick is mounted and working properly on the system.
System is Yosemite 10.10.5 run on a late 2014 Mac Mini

[2015-09-19 20:52] SevenBits commented on #86
What do you mean by:

Do you mean the USB doesn't show up in the boot manager?

[2015-09-19 21:10] monikamatis commented on #86
yes, exactly

[2015-09-20 22:47] garynunes commented on #38
Thanks for Mac Linux USB Loader. Very useful.

Having created a Ubuntu persistent bootable USB drive using your software I'd like to point out two "rough" areas I ran into during the process:

First (as mentioned in previous posts),initially the persistent creating dialog didn't seem to work. Sliding the slider doesn't change the readout in the size field and the size field itself isn't editable (

[2015-09-21 19:12] SevenBits commented on #38
@garynunes Thank for your suggestions. I will take them into consideration for the next release.

[2015-09-21 19:17] SevenBits commented on #86
@monikamatis Can you please share the layout of files on your USB drive?

[2015-09-21 21:35] markwylde commented on #85
Yeah it works as expected on a USB device :(

[2015-09-22 13:17] SevenBits commented on #85
@markwylde Looks like Linux can't read from your SD card then. Maybe it's a driver issue. Regardless, it's an issue with Linux and not Mac Linux USB Loader.

[2015-09-22 13:17] #85 closed

[2015-10-03 08:16] rbrown256 opened #87 "Can't create USB loader in El Capitan"
Steps:

1. Insert USB stick into MacBook Pro (16GB Kingston).
2. Launch Mac Linux USB Loader.
3. Double click Create Live USB.
4. Select file "ubuntu-14.04.3-desktop-amd64.iso", 1.05 GB.
5. Choose KINGSTON as destination and leave dropdown as "Included With Application".
6. Leave Distribution Family as Ubuntu and leave options as "This ISO has code older than Ubuntu 14.10" checked and "This ISO la

[2015-10-03 19:48] wisdomlight opened #88 "Mac-Linux-USB-Loader - in German?"
Hi,
I've downloaded and opened the app.

I've downloaded it three times.

it's in German

Is there an English version?

Cheers

[2015-10-04 06:32] SevenBits commented on #88
Mac Linux USB Loader appears in whatever language your system is set to. Change your system language to English if you want the app to be in English.

[2015-10-04 12:22] SevenBits commented on #87
Try deleting `~/Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/Library/Application Support/Mac Linux USB Loader/EnterpriseInstallationLocations.plist`.

[2015-10-04 19:55] aschereT commented on #87
Probably that damned SIP. Try disabling it?

[2015-10-04 21:14] SevenBits commented on #87
@aschereT Mac Linux USB Loader doesn't write to any protected system locations so SIP is very likely not the issue.

[2015-10-05 20:06] afram commented on #87
@SevenBits same issue here, macbook pro mid 2015 15" el capitan. That location you suggested to delete doesn't exist on my machine.

[2015-10-05 20:38] CoreFloDev commented on #87
I just got the same issue, I closed the application, deleted this folder ``~/Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/`` with the command ``rm -R ~/Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/`` and it fixed the issue.

[2015-10-05 20:50] afram commented on #87
@CoreFloDev did it make it passed "Grant Access" for this drive?

After deleting that directory and its contents, I get the next screen, but after granting access, I get the same error shown above.

[2015-10-08 14:42] SevenBits commented on #87
@afram Try clearing the Mac Linux USB Loader USB cache with `defaults delete com.sevenbits.Mac-Linux-USB-Loader`.

[2015-10-08 19:30] hpnishi commented on #87
@SevenBits I got the exactly same problem as @afram.
After granting access I receive the same error.
I already deleted com.sevenbits.Mac-Linux-USB-Loader, but nothing changed.

[2015-10-08 19:53] hpnishi commented on #87
I found a way to solve it.
1 - downloaded the previous version (3.0.2)
2 - tried to create the bootable USB, but since Kali didn't appear as an option in the Distribution Family I gave up and deleted the old version.
3 - after that, suddenly, the new version (3.1) worked like a charm.

I just don't know if that would work for everyone.

[2015-10-09 16:50] hpnishi opened #89 "Can't set persistence!"
I finally figured out how to create the live USB boot for Kali, but now I can't set persistence.
Mac Linux USB Loader doesn't show any pendrive:
![screen shot 2015-10-09 at 1 44 41 pm](https://cloud.githubusercontent.com/assets/15038783/10400006/a925ec30-6e8c-11e5-82f2-ab37867ac4b0.png)

Best regards,

[2015-10-09 17:10] SevenBits commented on #89
In order for persistence to work with Kali, it must meet special requirements for security reasons. I believe you need to partition your USB drive. If you search on Google you can get more detailed information.

[2015-10-09 19:38] tveloq commented on #88
I had the same issue although my system language was set to English.

In order to fix it I had to browse the app with "Show package contents" and delete the following folders:

/Contents/Resources/de.lproj
/Contents/Resources/es.lproj
/Contents/Resources/nl.lproj

[2015-10-10 22:50] SevenBits commented on #88
@tveloq That's very strange. I'm not sure what could be causing it.

[2015-10-15 02:58] paulopaniago commented on #87
I’m also have this problem, and I tried on both: Yosemite and El Capitan. I tried also de above suggestions and none of them worked with me. This is weird because I had already made a linux stick before using Mac Usb Loader on Yosemite. (although it didn’t worked in the end because the ISO I got in the net was incompatible, I guess)

[2015-10-15 08:01] paulopaniago commented on #87
hello, just solved this problem. I downloaded the version for lion (2.0.1). I can′t believe I have a pendrive with linux now. Thanks very much for the loader SevenBits!!!

[2015-10-15 21:14] paulopaniago commented on #87
Hello SevenBits, my Linux live usb is working fine after I used version 2.0.1 of Mac Linux Usb Loader. But unfortunately the data is all lost after reboot. Do you know how can I add Persistence app to that usb stick now?
I am thinking about migrating to Linux because Apple prices in Brazil became way overpowering for me to continue with MacBooks. I intend to use your program′s created usb combined

[2015-10-16 00:34] SevenBits commented on #87
@paulopaniago I'm curious about this, as I haven't had any of these issues. I would recommend against going down to 2.0.1, though. It is running an old and outdated version of Enterprise and doesn't support the newer features of Mac Linux USB Loader.

Apple probably changed some code in El Capitan relating to security bookmarks, which I use to co-ordinate access to USB drives. Does it still work o

[2015-10-16 01:35] paulopaniago commented on #87
Hello SevenBits thanks so much for answering.
And yes I’m having the same problem on both systems: El Capitan and Yosemite.
But I have used your program before in Yosemite and it worked fine. It didn’t after I upgraded it to El Capitan. Because of other incompatibilities I decided to reinstall Yosemite, but this time I’ve separated my internal driver in two partitions, one for each system.
Unfortu

[2015-10-17 03:52] SevenBits commented on #87
@paulopaniago Can you email me a copy of the Mac Linux USB Loader and system logs? I will contact Apple about this problem.

[2015-10-21 18:00] AcexSpade opened #90 "Slider does not show space for Persistance"
Slider does not show space for Persistance on El Capitan with version 3.1

[2015-10-21 22:02] SevenBits commented on #90
Can you be more specific? Perhaps include a screen shot?

Sent from my iPhone

[2015-10-24 18:17] #78 closed

[2015-10-24 18:17] #57 closed

[2015-10-24 18:19] SevenBits commented on #74
Closing as the website has been updated.

[2015-10-24 18:19] #74 closed

[2015-10-24 18:19] #48 closed

[2015-10-24 18:20] SevenBits commented on #64
Closing as version 3.1 has been released.

[2015-10-24 18:20] #64 closed

[2015-10-24 18:22] SevenBits commented on #68
@YorikSar I am closing as issue as version 3.1 automatically opens the configuration file for the user if they choose an unsupported distribution, so this issue is somewhat mitigated now. I will, however, keep this feature in mind for future updates.

[2015-10-24 18:22] #68 closed

[2015-10-24 18:23] SevenBits commented on #77
This issue has been fixed as of version 3.1, so I am closing this issue.

[2015-10-24 18:23] #77 closed

[2015-10-24 18:23] SevenBits commented on #86
Closing as this is a duplicate of #29.

[2015-10-24 18:23] #86 closed

[2015-10-24 18:25] #82 closed

[2015-10-24 18:26] #69 closed

[2015-10-27 18:31] FracturedLoop commented on #87
I tried what SevenBits said and it worked:

[2015-10-29 17:10] rohannarang15 commented on #90
Setting the slider doesn't seem to update the value in the text box. It stays at 128 mb
![screen shot 2015-10-29 at 10 20 22 pm](https://cloud.githubusercontent.com/assets/15383644/10825916/25b79f2c-7e8d-11e5-8a8e-6e70b8b7dc05.png)
I went ahead and put the slider to its max value and pressed "Create Persistence" anyway. After the operation was done, I checked the size of the casper-rw file and it

[2015-10-31 22:31] nnevvinn commented on #90
I had the same experience as rohannarang15 on 10.11.1 -- no response to moving slider, but created an ≈4gb file.

[2015-11-03 16:49] kapitainsky commented on #87
deleting com.sevenbits.Mac-Linux-USB-Loader works for me as well. Small inconvenience as have to do this every time I want to create USB. BTW - I am on El Capitan.

[2015-11-03 18:41] SevenBits commented on #87
@kapitainsky Something must have changed in El Capitan, as everything works as expected on Yosemite. I'll work on resolving this issue ASAP.

Could you try disabling System Integrity Protection and seeing if that helps the issue at all?

[2015-11-03 18:42] SevenBits commented on #90
@nnevvinn @rohannarang15 This is a known issue. I will put out a fix ASAP.

[2015-11-03 18:42] #89 closed

[2015-11-04 08:32] kapitainsky commented on #87
I have disabled SIP - after restart created successfully Ubuntu USB. However when I have tried to create another one, had the same issue (screenshot below) immediately after clicking 'Begin installation' button:

<img width="622" alt="screen shot 2015-11-04 at 08 25 56" src="https://cloud.githubusercontent.com/assets/15635386/10933073/bb1ebdfe-82cd-11e5-8c37-10de800f9753.png">

Removing app (used

[2015-11-07 02:06] keyvanfatehi commented on #90
I have the same issue. Running OS X Yosemite

[2015-11-07 02:54] maxious commented on #87
Same outcome on 10.11.1. Commands removing cache/temp files don't help but restarting does.

[2015-11-07 17:00] SevenBits commented on #87
@maxious @kapitainsky The only thing that seems to help, other than restarting, is clearing Mac Linux USB Loader's defaults:

    defaults delete com.sevenbits.Mac-Linux-USB-Loader

I am investigating these issues and should have a fix soon.

[2015-11-11 17:46] Lucurus opened #91 "KaliLinux boots right up, doesn't give choice to choose "live""
Hi,

first of all thanks for this amazing piece of software.
I just have one question.

I can't choose the available building options (Live, live with persistence, install,...). Every time I boot from a flash drive, it starts the full OS without giving me any choice to choose what kind of build I want.

I installed Kali 2.0 64 bit (downloaded from the official website) and put it on a SanDisk extr

[2015-11-12 21:18] SevenBits commented on #91
Sigh... according to the [contribution rules](https://github.com/SevenBits/Mac-Linux-USB-Loader/blob/master/CONTRIBUTING.md) this should be posted on [SevenBits/Enterprise](https://github.com/SevenBits/Enterprise/issues)...

Mac Linux USB Loader bypasses the boot options programmed by the distribution. This is because these options more often than not do not work with Enterprise, Mac Linux USB Loa

[2015-11-12 21:19] #91 closed

[2015-11-13 20:41] JasonJWilliamsNY commented on #85
I get a similar message. I have tried this with several different USB drives (8-16GB). It takes >1000 seconds to boot. Happy to provide more details - this is the first (nearly) working solution I've found. Thanks!
![img_8261](https://cloud.githubusercontent.com/assets/7266775/11156982/f29d189c-8a1c-11e5-946f-9bc6390a438c.JPG)

[2015-11-16 12:52] Sedkol opened #92 "Cannot start Ubuntu from sub with mac Linux usb loader"
![image](https://cloud.githubusercontent.com/assets/13577322/11182162/edde24b0-8c68-11e5-87a0-187a8c742982.jpeg)
Hallo. Any known issues?

[2015-11-17 03:17] ksasa001 commented on #87
I created a bootable USB previously on El Capitan, but tried recently and got the error of, "couldn't get security scoped bookmark." The solution above worked for me.

`defaults delete com.sevenbits.Mac-Linux-USB-Loader`

[2015-11-18 02:54] SevenBits commented on #85
@JasonJWilliamsNY Does it ever boot completely? If it takes that long, my guess is that it's an I/O problem.

[2015-11-21 18:28] rmgator opened #93 "Distro Download Failed...Where did it go?"
I downloaded a bistro using the automatic downloader.  What is the default download location?  I cannot find the file.

[2015-11-21 23:01] SevenBits commented on #93
@rmgator Right click on the distribution and select "View in Finder".

[2015-11-22 18:34] housingfreq opened #94 "where is the file directory? v3.0.2"
Hi,

I'm using the version 3.0.2, downloaded from your home page, can't use the latest since its in german or something.

I downloaded it twice, when I click the finder icon, it didn't appear or pop out, so I want to manually go locate the distro i downloaded.

Where is the distro downloaded/saved to?

Thanks.

[2015-11-22 20:31] SevenBits commented on #94
@housingfreq I have received a number of reports about the application showing up in German. What language is your system set to?

[2015-11-22 20:38] housingfreq commented on #94
US English

May i know where is the saved location of the distro? I want to manually go and remove, if not its eating my HDD space.

[2015-11-22 23:51] SevenBits commented on #94
@housingfreq If you right click on the distribution name in the downloader, there should be an option to "View in Finder". Select that and it will take you to the file.

[2015-11-23 00:00] SevenBits commented on #94
@housingfreq Also, please show me your language setup. It looks like this:

![OS X language settings](https://kb.wisc.edu/images/group1/43834/ScreenShot2014-10-05at4.44.06PM.jpg)

[2015-11-23 00:38] housingfreq commented on #94
the image:
https://photos-4.dropbox.com/t/2/AACTW37VnXa8vTwcvoPVsLZXzL4vDWxt02ErvFfuIM6aAQ/12/44430038/png/32x32/1/_/1/2/Screen%20Shot%202015-11-23%20at%208.31.58%20AM.png/EJWFgSIYlJoOIAIoAg/mEmVvGNbjadH2fqSP30oNsy08KG0X-TH64lajkInqGg?size=1024x768&size_mode=3

For that method, previously I have tried, it didn't work, I clicked once or double clicked it, it didn't open anything.

Could you please

[2015-11-23 01:19] SevenBits commented on #94
The link you gave doesn't work; it gives me an error 403.

Off the top of my head, it should be something like `Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/Library/Application Support/Mac Linux USB Loader/Downloads/`.

[2015-11-23 01:49] housingfreq commented on #94
I'm sorry, i have edited the image link again, it should be working now.
Perhaps a button your application to adjust language, that will temporary solve the issues for future users.

I solved the language problem by opened the folder of the application and deleted those language folders, followed solution method suggested by the other user.

[2015-11-25 18:16] SevenBits commented on #94
@housingfreq Were you able to find the ISO at the path provided? If so, please close this issue.

[2015-11-25 18:18] SevenBits commented on #93
Closing since this is fundamentally the same as #94 and adds no new information.

[2015-11-25 18:18] #93 closed

[2015-11-25 18:19] SevenBits commented on #92
Closing because the OP did not give me any information on his system, as required by [the contribution guidelines](https://github.com/SevenBits/Mac-Linux-USB-Loader/blob/master/CONTRIBUTING.md).

[2015-11-25 18:19] #92 closed

[2015-11-25 19:16] goodguinness opened #95 "Disk Space on Kali only 970MB"
Hi,

Problem: Kali boots fine, however when I view my drive on Kali, it only has about 970 MB for disk storage even though my USB drive has nearly 60 GB of free space. I cannot update Kali or do anything that takes up storage because of this.

Info: I am running Kali Linux on my MacBook Air using Mac Linux USB Loader. I have formatted the USB drive to FAT and set up persistence. Kali is bootable b

[2015-11-25 19:46] goodguinness commented on #95
Mac Linux USB Loader 3.1
Kali Linux iso downloaded through the distribution downloader
MacBook Air / OSX Yosemite
SanDisk 64 GB drive

[2015-11-26 08:02] housingfreq commented on #94
okay thanks, i will close it.

[2015-11-26 08:02] #94 closed

[2015-11-26 19:25] robsalasco commented on #60
any news on this? I want to boot qubes in my macbook!

[2015-11-27 04:27] goodguinness commented on #95
Also, persistence is not working. Thanks.

[2015-11-27 18:40] SevenBits commented on #90
This issue has been fixed and the fix will be released within the next few days.

[2015-11-27 18:40] #90 closed

[2015-11-28 18:11] SevenBits commented on #95
Mac Linux USB Loader cannot set up persistence that can be used by Kali, since Kali requires its own dedicated partition. Ubuntu is much better in this respect.

[2015-11-28 18:11] #95 closed

[2015-12-08 19:47] SeanFelipe opened #96 "select installation option is unclear"
Thanks for the utility -- I am installing Mint on a MBP and using it to prep my usb stick. Happily made a donation as well.

A couple minor issues found in the install process. Here's writeup #1:

When proceeding through the installation options, on the screen where I select what media to install to, my single USB stick appeared. I selected 'proceed' and then on the next screen, 'Begin Installatio

[2015-12-08 19:51] SeanFelipe opened #97 "Installation Options needs explanation"
At the final screen, a couple options appear which, to me at least, are a bit obscure. 'This ISO lacks an EFI-enabled kernel' and 'This ISO has code older that Ubuntu 14.10'.

Not being intimately familiar with these aspects of Linux -- the Ubuntu versioning system is straightforward I suppose, but pretty annoying to me -- I really have no idea what to select. I'm installing the latest version of

[2015-12-09 03:50] SevenBits commented on #96
@SeanFelipe That seems reasonable, and it would not difficult to do. I'll definitely look into this.

[2015-12-09 03:52] SevenBits commented on #97
@SeanFelipe I'll do a full write-up tomorrow. Thanks for sharing your feedback!

[2015-12-09 03:52] SevenBits commented on #87
This issue should be resolved somewhat in version 3.2.

[2015-12-12 18:54] planewryter opened #98 "Many Problems Attempting to Create USB-bootable Drive for Ubuntu-Server"
Hi Seven Bits,

Please see the attached PDF with explanation and screenshots of a series of problems encountered attempting to use Mac Linux USB Loader to create a bootable USB-based instance of Ubuntu Server.

Thank you very, very much for any assistance!

[Seven-Bits-Request.pages.pdf](https://github.com/SevenBits/Mac-Linux-USB-Loader/files/60222/Seven-Bits-Request.pages.pdf)

[2015-12-12 19:14] SevenBits commented on #98
@planewryter Well, you've won the award for the most detail ever put into an issue report. Congratulations!

Despite your confusion, the problem is actually quite simple. Mac Linux USB Loader is setup to install Ubuntu desktop, not Ubuntu server. You can still use the server version, though, but it requires different settings. What settings did you use in Mac Linux USB Loader to create the flash d

[2015-12-13 17:03] planewryter commented on #98
Hi Seven Bits!

Your assistance is greatly valued & much appreciated!

Hope you’ll be so kind as to guide me to the Land of Milk and Ubuntu Server booting from a USB Drive on my iMac and/or MacBook Air.

When you have a moment, please see the attached PDF (yea! More screenshots!).

Many, many thanks!

Best,
Rick

[2015-12-13 19:55] SevenBits commented on #98
@planewryter Hi there Rick. There is no attachment here on GitHub. I think you need to upload it from the site, not from email.

In Mac Linux USB Loader, open the USB Setup window (located on the main screen), and then select your USB drive and click `Edit Enterprise Configuration File`. TextEdit will open and there should be some text in the window. Paste the text here on GitHub. Once I see that,

[2015-12-13 21:35] planewryter commented on #98
[Seven-Bits-Request-Too.pages.pdf](https://github.com/SevenBits/Mac-Linux-USB-Loader/files/60610/Seven-Bits-Request-Too.pages.pdf)

Edit Enterprise Configuration File does not seem to function. Is there a path I can follow in TextEdit to open the affected Configuration File?

Thanks!

[2015-12-13 21:58] SevenBits commented on #98
@planewryter The first "surprise" that you ran into is unfortunately a drawback with OS X El Capitan that I can't get around due to system restrictions. Luckily for you, Mac Linux USB Loader's documentation includes [a workaround](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#4b-i-get-a-message-saying-the-usb-device-that-you-have-selected-cannot-be-accessed-beca

[2015-12-13 23:25] planewryter commented on #98
Seven Bits,

Thanks for the note about the workaround. I did check the FAQs earlier in the process (first attempt) and didn't think to access them on the second attempt. (I, of all people know...when all else fails: RTM.)

After De-Registering my USB drive...then what? Start over using the "...ISO lacks an EFI..." option?

As for "Edit Enterprise Configuration File," please see embedded video**. Y

[2015-12-13 23:49] planewryter commented on #98
Seven Bits,

What seemed to be progress...

![seven-bits-4-010](https://cloud.githubusercontent.com/assets/11273069/11770355/e712cd54-a1b0-11e5-90a6-e81232364525.png)

Alas--didn't yield much. Please see another link to a Dropbox video...this one showing attempted boot of Ubuntu Server from USB drive; here: https://www.dropbox.com/s/h5irnzzmxtghwo6/2015-12-13%2015.34.01.mov?dl=0

Your thoughts?

T

[2015-12-14 01:10] SevenBits commented on #98
@planewryter

You need to do the `Edit Enterprise Configuration File` option **after** you create the USB drive with Mac Linux USB Loader.

Yes.

I'll download Ubuntu server and have a look at this. I've never had anyone try to do this before...

[2015-12-14 01:54] planewryter commented on #98
Here is the contents of the Edit Enterprise Configuration File:

#This file is machine generated. Do not modify it unless you know what you are doing.

entry Ubuntu
family Ubuntu
kernel /casper/vmlinuz

[2015-12-14 02:36] SevenBits commented on #98
@planewryter Thank you.

[2015-12-18 02:56] planewryter commented on #98
Hi SevenBits,

Because my team is having a meeting tomorrow morning…and the subject of Linux Server Admin is going to be at the top of the list—please accept this Email as a “check-in.” By any chance, were you able to provision Ubuntu Server on a Mac via Mac Linux USB Loader?

Many thanks for all!

Best,
Rick

[2015-12-18 04:11] SevenBits commented on #98
@planewryter Unfortunately, I don't have access to my Mac right now so I haven't been able to test. At some point tomorrow I'll tell you what I've figured out.

[2015-12-20 14:42] Marcool04 commented on #29
Hello,
I am also experiencing issues with a functional 16GB drive, brand new in fact, which is not showing up in MLUL.

    $ diskutil list
    /dev/disk1
       #:                       TYPE NAME                    SIZE       IDENTIFIER
       0:     FDisk_partition_scheme                        *16.0 GB    disk1
       1:                 DOS_FAT_32 UNTITLED                16.0 GB    disk1s1
And:

[2015-12-22 16:34] akafester commented on #87
Still happening on 3.2. Tried with other USB drives but the only thing that resolved it was the solution above: defaults delete com.sevenbits.Mac-Linux-USB-Loader

[2015-12-22 18:36] SevenBits commented on #87
You shouldn't need to delete the defaults. Simply open Mac Linux USB Loader, go under the application menu (i.e the one labeled Mac Linux USB Loader), and under the Registered Devices menu, click on your USB drive to remove it from memory. Then, you will be asked for authorization again and everything will work.

This error occurs because when you re-format the USB drive with the same name as befo

[2015-12-24 12:48] stefankoch commented on #98
Hi I have a similar issue using OSX Yosemite (10.10.5) using Mac Linux USB loader 3.2. The first time I used the app on my Stick it worked and I could 'authorize' it to access the stick and create an image, SystemRescueCD (a version of Gentoo). This would only boot to grub2 and then complained that the path to the kernel could not be found and therefore probably needs a special enterprise.cfg file

[2015-12-24 12:49] stefankoch commented on #98
ps I thought about using a second stick as a workaround since it seems to work the first time. I will try and post any results or non-results.

[2015-12-24 12:56] stefankoch commented on #98
update: unfortunately, using a different usb stick (formatted as Fat with MBR using Disk Utility) did not solve the problem still get the error msg 'couldn't get scoped security bookmarks'.

[2015-12-24 13:26] stefankoch commented on #87
Hi in my case I tried everything above. Deleting the suggested folder in the library, emptying the cache, emptying the defaults, etc etc. The only thing that worked is creating an image with another name as suggested in the last reply by SevenBits :) Thanks guys - now let's see if it boots with Ubuntu Rescue Remix 12.04

[2015-12-24 13:27] stefankoch commented on #87
sorry to clarify I mean when formatting the USB drive in disk utility give the 1 partition fat and mbr setup a new name than before, otherwise bookmarks are confused. This could improved or at least hinted at in the dialogs in 3.3 -- thanks & happy holidays!
https://developer.apple.com/library/mac/documentation/Security/Conceptual/AppSandboxDesignGuide/AppSandboxInDepth/AppSandboxInDepth.html#//ap

[2015-12-24 13:37] stefankoch commented on #87
now I can run the installer, but the boot stick doesnt run with Ubuntu Rescue Remix even if both options (for versions below 14.x and doesnt include EFI) are checked. First error 'file /casper/vmlinuz.efi not found' then kernel panic 'unable to mount root fs on unknown block'.. any help would be appreciated thanks

[2015-12-24 16:24] SevenBits commented on #87
@stefankoch I'm not familiar with Ubuntu Rescue Remix. I will try to test it.

[2015-12-25 10:27] stefankoch commented on #87
Here is the link to the ISO file download, to reproduce simply load this with Linux Mac USB Loader on a fat-formatted stick and try booting the mac (OSX 10.9 or 10.10) holding 'alt':
http://iso.linuxquestions.org/ubuntu-rescue-remix/ubuntu-rescue-remix-12.04/#x86
I get the error '/casper/initrd.lz' not found, which is probably because it is in gz format (rather than lz) in this live distro:
The vm

[2015-12-27 16:40] SevenBits commented on #87
@stefankoch I downloaded Ubuntu Rescue Remix and it worked just fine for me once I put in the necessary settings. To reproduce:

1. Open Mac Linux USB Loader and select the Ubuntu Rescue Remix ISO file
2. Select your desired USB drive on the first screen
3. On the second screen, make sure the distribution family is set to be "Ubuntu" and check __both__ checkboxes (Ubuntu RE has a package base olde

[2015-12-27 21:09] stefankoch commented on #87
Hi thanks that got me further. However, after Ubuntu begins booting
slightly, I get the message
'could not find the ISO /efi/boot/boot.iso'
Could be another similar path question but not sure - what do you think?

On Sun, Dec 27, 2015 at 5:40 PM, SevenBits <notifications@github.com> wrote:

[2015-12-27 21:15] SevenBits commented on #87
@stefankoch I was able to get it to work using the exact steps I posted above. Maybe post your configuration file?

[2015-12-27 22:14] stefankoch commented on #87
I just added the line you mentioned with both options checked (i.e. no
EFI..) and OS recognized as Ubuntu. It boots into the command line using my
2014 Macbook Pro but not using the 2012 11 Inch Macbook Air (MBA) - the one
where it is needed. Does that help?

On Sun, Dec 27, 2015 at 10:15 PM, SevenBits <notifications@github.com>
wrote:

[2015-12-27 22:16] stefankoch commented on #87
here is the configuration file I'm using:

#This file is machine generated. Do not modify it unless you know what you
are doing.

entry Ubuntu
family Ubuntu
kernel /casper/vmlinuz file=/cdrom/preseed/ubuntu.seed
initrd /casper/initrd.gz

On Sun, Dec 27, 2015 at 10:15 PM, SevenBits <notifications@github.com>
wrote:

[2015-12-27 22:39] SevenBits commented on #87
@stefankoch Maybe try booting with the `nomodeset` option enabled?

[2016-01-06 23:13] codefriar opened #99 "ia32 support"
would be handy if this tool supported 32bit EFI systems (yes, they do exist)

[2016-01-07 22:06] SevenBits commented on #99
@codefriar I haven’t put in the development time mainly because the main use case for this tool is Macs, and Macs with 32-bit EFIs are not all that common anymore and are being pretty rapidly retired. If you want support for 32-bit EFIs, you just need to compile [Enterprise][1], the boot manager used by Mac Linux USB Loader, on a 32-bit system, and then you can add those binaries to Mac Linux USB

[2016-01-11 20:15] wukakuki opened #100 "crash when selected "Accept HFS+ formatted Drives""
I'm using OS 10.11.3 Beta (15D13b), mac linux usb loader 3.2(9345),kali 2.0.
It crash after I click the "create live usb" and choose the "kali-linux-amd64.iso" file , with "Accept HFS+ formatted drives" selected. Crash reporter below.
[“Mac Linux USB Loader” Sample.txt](https://github.com/SevenBits/Mac-Linux-USB-Loader/files/86338/Mac.Linux.USB.Loader.Sample.txt)

[2016-01-12 17:48] SevenBits commented on #100
@wukakuki Hi there. Can I see this actual crash report as opposed to the process sample from Activity Monitor?

[2016-01-12 17:49] SevenBits commented on #83
Closing this as no additional info has been posted.

[2016-01-12 17:49] #83 closed

[2016-01-12 17:50] SevenBits commented on #87
A workaround for this issue was added in version 3.2, so I’m closing this issue now.

[2016-01-12 17:50] #87 closed

[2016-01-12 17:51] #88 closed

[2016-01-12 17:51] #38 closed

[2016-01-12 18:49] wukakuki commented on #100
@SevenBits
Oh! After updated to OS 10.11.4 Beta (15E27e), this problem fixed. I'm try to boot my mac from USB  drive now.But my usb drive didn't show up. And I had tried to set my usb drive as startup disk. It failed with "Failure to establish boot caches on boot assistant partition".How to fix it?

[2016-01-13 16:54] SevenBits commented on #100
@wukakuki I’ve never seen this issue before. Can I see a screenshot of that error message and a copy of the system logs?

[2016-01-14 08:37] wukakuki commented on #100
@SevenBits
It crash again. Can't select HFS+ again.
That screenshot as .gif and the error log in uname.pdf
And my system logs as system.pdf(too much logs, I don't know which one you need)

[system.pdf](https://github.com/SevenBits/Mac-Linux-USB-Loader/files/90079/system.pdf)

![default](https://cloud.githubusercontent.com/assets/7627497/12319139/fee76ea6-bada-11e5-8911-ac64056d8348.gif)

[uname.pd

[2016-01-14 19:46] SevenBits commented on #100
@wukakuki Can you upload the screenshot as an actual video file? I can’t get enough details from that small gif...

[2016-01-16 00:05] wukakuki commented on #100
@SevenBits Oh! I'm sorry! I didn't notice that. However, it can't open any more.
I can't send you mov files via github.
when I try to send you .mov file, this message shows up.
and the crash log.
[log.pdf](https://github.com/SevenBits/Mac-Linux-USB-Loader/files/92695/log.pdf)

"Unfortunately, we don’t support that file type.  Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP."

[2016-01-16 03:02] SevenBits commented on #100
@wukakuki Send me the log files over email.

[2016-01-20 17:45] danihodovic opened #103 "Not working for Xubuntu 15.10"
I've tried various combinations of options and the installation fails each time. First it complains that the kernel cant be found, but manages to boot to the Xfce loading screen. It then complains that it cant read from /dev/sdb which is the live-usb.

[2016-01-21 14:45] SevenBits commented on #103
@danihodovic Please post your Enterprise configuration file (accessible from within the Setup USB Device window).

[2016-02-12 18:45] borgesrodrigo commented on #88
i'm having the same issue.

[2016-02-17 22:01] norton850 opened #105 "problem creating usb with Unbuntu"
Hello
I've tried creating an usb loader with my Macbook under 10.11.3 and Mac Linux USB loader.
I've want to use ubuntu 14.04.3 desktop-amd64.iso.
I can go on insatallation until I've got this message "Couldn't get security scoped bookmarks. The USB device that you have selceted cannot be accessed because the system denied access to the resource"
Can you help me ?
Many thanks
Philippe

[2016-02-18 19:23] SevenBits commented on #105
@norton850 RTM.

https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#4b-i-get-a-message-saying-the-usb-device-that-you-have-selected-cannot-be-accessed-because-the-system-denied-access-to-the-resource

[2016-02-18 19:23] #105 closed

[2016-02-18 19:27] SevenBits commented on #103
Closing since @danihodovic has not given any information to help fix the problem.

[2016-02-18 19:27] #103 closed

[2016-02-18 21:44] danihodovic commented on #103
Yeah sorry about that. If I get around to installing Xubuntu again I'll try to provide the config. I installed Ubuntu gnome instead which worked fine.

[2016-02-21 11:22] norton850 commented on #105
Hello
many thanks for your reply.
I've still have problem to create USB drive with Ubuntu 14.0.
I use a usb drive with 4.0go.
When I launch the Mac USB loader program:
- I choose destination: the name of my USB drive
- go next
- distribution family: Ubuntu
- check this ISO has code older than Ubuntu 14;10
- begin installation
- "to authorize Mac Linux USB loader to acess your USB drive, please cli

[2016-02-21 15:09] SevenBits commented on #105
@norton850 Please go under the Application menu (the one titled "Mac Linux USB Loader") and go to the Registered Devices menu. Is your USB drive listed under the Registered Devices menu?

[2016-03-01 01:11] gti3993 commented on #87
Well Before we get all complicated and geeky ,When you see the Grant Access make sure you select the usb drive not the iso or anything else ! it just needs to sudo over usb drive !

[2016-03-01 01:25] gti3993 commented on #58
Well i guess before we get all complicated and geeky ,the easy fix for When you see the Grant Access PopUp Screen is just to select the usb drive not the iso or anything else ! it just needs to sudo over usb drive ! so Grant Access to usb and move on !

[2016-03-11 08:23] harshnarang8 commented on #29
Using MBP Retina 2015, OSX 10.11.3. Having the same problem, can't detect a Hard drive.
The Hard Drive is of size 1Tb, and Partitioned into 3 volumes.

diskutil list shows
`/dev/disk0 (internal, physical):
   #:                       TYPE NAME                    SIZE       IDENTIFIER
   0:      GUID_partition_scheme                        *121.3 GB   disk0
   1:                        EFI EFI

[2016-03-11 15:27] SevenBits commented on #29
@harshnarang8 Mac Linux USB Loader is programmed to ignore hard drives, since it is designed to only work with removable devices. However, a user has contributed the ability to install to hard drives, so that feature will be available soon.

[2016-04-07 11:45] naerymdan opened #106 "Stuck on "Welcome to Enterprise!""
**Short Description of Problem:** Super recent MacMini bought in April 2016 sees the usb key at boot and starts from it, stuck on "Welcome to Enterprise!" screen, nothing else happens.

**Expected Behavior:**

Menu?

**Actual Behavior:**

Noting.

**Steps to Reproduce:**

- Using MacBookPro running ElCapitain (10.11), formatted 8GB key with FAT and GUID partition scheme.

- Installed ubuntu 15.10

[2016-04-07 21:43] SevenBits commented on #106
Hi @naerymdan, thanks for posting. Can you please post your enterprise.cfg file (located in the /EFI/boot/ directory)? Thanks.

[2016-04-08 15:43] RikerW opened #107 "After clicking on the live usb option and selecting the iso, nothing happens."
I click on the live usb option in the main menu thing.  The penguin with the `Create Live USB`.

I selected the Linux Mint with cinnamon 64 bit iso.  I click open.

Nothing happens.  The application is still open, but no new windows open.

I waited 15 minutes and still nothing happened.

I use OS X El Capitan (10.11) on a 2015 MacbookPro.

Clicking the icon in the dock just opens a new main menu,

[2016-04-08 15:57] SevenBits commented on #107
What version of OS X are you running?

[2016-04-08 16:12] RikerW commented on #107
10.11

[2016-04-08 16:13] RikerW commented on #107
And I think I found my problem, somehow a period got put after the filename, so it was `foo.iso.`, I think it rejected it as a invalid file.

[2016-04-08 16:47] SevenBits commented on #107
That's probably it -- remove the period and see if it works.

[2016-04-09 00:01] RikerW commented on #107
Did, thanks.

[2016-04-09 00:01] #107 closed

[2016-04-09 14:08] rubert34 opened #108 "Booting Kali gets stuck before the GUI loads"
I'm trying to run Kali from a USB drive, but it doesn't boot. Not sure what to do.

Mac Linux USB Loader seems to install everything ok.
When I restart and hold "alt", I'm presented with the choice to boot Kali, which I do.
After that it starts to load, but it gets stuck or never successfully complete.
There are different cases, depending on the procedure.

In normal mode, I usually get "kali gnu/

[2016-04-09 14:28] SevenBits commented on #108
Try booting with `nomodeset` enabled in the Advanced Options menu.

[2016-04-09 17:01] rubert34 commented on #108
Not working. It seems to start loading something, but then gets stuck. There is a white dash in the top left corner and I can't type anything.

[2016-04-09 17:12] rubert34 commented on #108
I made a video of this. Here it is: https://www.youtube.com/watch?v=TVEX7MIgfr8&feature=youtu.be
Now it does the same whether I boot normally or with the nomodset option.

[2016-04-09 19:25] SevenBits commented on #108
@rubert34 It has the _exact_ same behavior when the `nomodeset` option is enabled?

[2016-04-10 10:57] rubert34 commented on #108
Yes, the result is the same now.
I made another video, where I try booting with normal, then with nomodeset.
https://youtu.be/SSxqWazq-dg

[2016-04-10 13:30] SevenBits commented on #108
@rubert34 Hmm, it's probably a hardware or driver issue then. Maybe contact the Kali Linux developers and see if they can help you?

[2016-04-11 14:06] probablytom commented on #29
Incase it helps, my 64gb drive remained undetected until I repartitioned and selected "Master Boot Record" as the partition map. Worked after that and I now have a fully functional Ubuntu installation.

@cems2's earlier comment might suggest that this doesn't mean much, but I thought it worth mentioning.

[2016-04-11 14:41] SevenBits commented on #29
@probablytom Thanks for your suggestions, Tom.

[2016-04-13 13:40] t-io opened #109 "Persistence for Kali seems not to work"
Steps to reproduce:
1. created a LiveUSB with Kali
2. setup persistence within the persistence-manager
3. Boot to Kali through advanced options with persistence enabled
4. saved some textfile on desktop
5. restart & reboot into kali through  advanced options with persistence enabled
6. file is gone.

Does Mac-Linux-USB-Loader support persistence for Kali or is it ubuntu exclusive?

[2016-04-13 16:53] SevenBits commented on #109
As stated in the documentation, Mac Linux USB Loader only supports setting up persistence for Ubuntu, Linux Mint, Zorin, and elementary. Kali requires a more complicated procedure, namely, a partition on your USB drive.

_However_, one of my users has kindly written up a very nice tutorial showing how you can use persistence with Kali. It is not very complicated if you follow the directions. You c

[2016-04-13 16:53] #109 closed

[2016-04-13 20:56] eMerzh commented on #88
Same here.. last version. the app is in NL and the system is in French...
i think the issue must be re-opened

[2016-04-13 21:21] SevenBits commented on #88
@eMerzh Unfortunately, without a way to reproduce the problem on my end, it’s going to be very difficult to fix the problem, but fell free to re-open if the issue still exists.

[2016-04-14 06:04] eMerzh commented on #88
@SevenBits OK... But thé issue is still there in thé last version. Juste donwloaded it, unzip then run. And i've not the ability to re open the issue.

It might be the code that determine the user's language or smth? Is there some way we can give you more info to put you on track?

[2016-04-14 11:23] t-io commented on #109
Thanks for your fast answer :)
I must have overseen it in the documentation. The instructions work for me.
Here is the correct [video link](https://www.youtube.com/watch?v=mDRbTHCoj8U) to the written instructions you suggested.

[2016-04-15 01:40] SevenBits commented on #109
@t-io Great, glad I could help! :+1:

[2016-05-13 02:07] charleswolfe opened #110 "USB device not listed"
2011 Mabook Pro running El Capitan 10.11.4 (15E65)

Tried sandisk 4gb, sandisk 16gb, and a 32 gb sandisk microsd
All formatted in diskutility as journaled hfs

[2016-05-13 02:08] #110 closed

[2016-05-13 17:00] karlic opened #111 "Incorrect checking of value of "iso" entry in enterprise.cfg"
**Short Description of Problem:** Adding the line

    iso tails-i386-2.3.iso

to enterprise.cfg causes Enterprise to check for existence of tails-i386-2.3.iso in / rather than /efi/boot/ on USB stick.

**Expected Behavior:**

No output (warning message) when booting USB stick and selecting "1. Boot Linux from ISO file".

**Actual Behavior:**

A warning message when booting USB stick and selecting

[2016-05-13 17:10] karlic opened #112 "Confusing example of enterprise.cfg at https://sevenbits.github.io/Enterprise/"
**Short Description of Problem:** The example enterprise.cfg file at https://sevenbits.github.io/Enterprise/ does not appear to work with the current version of Mac Linux USB Loader. The one at https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Configure-booting-(one)-of-multiple-ISOs-(multiboot) **does** work.

**Expected Behavior:**

Ability to boot from a kali.iso and/or a tails.iso file.

[2016-05-13 17:12] karlic commented on #84
Newer instructions now available here: https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Configure-booting-(one)-of-multiple-ISOs-(multiboot)

I couldn't get the ones at https://sevenbits.github.io/Enterprise/ to work.

[2016-05-13 17:46] karlic commented on #84
@SevenBits I feel that when selecting "Create Live USB" MLUL should check whether the USB has already been MLUL'ed (not to be confused with [mullered](http://www.urbandictionary.com/define.php?term=mullered)) if so, the user given the option to reinstall from scratch or **add** the selected distribution.

**Adding** would just be a case of copying the ISO to /efi/boot/ and creating an entry in ent

[2016-05-13 18:07] karlic commented on #81
@SevenBits I don't think this behaviour is intuitive. I used MLUL to download Ubuntu. It disappeared from "View In-Progress Downloads" and when I selected "Create Live USB" the file finder window that opened showed my Documents folder. It didn't occur to me to right-click on the Distribution in MLUL and I had to search for it in Terminal.

I think Create Live USB should open the folder that contai

[2016-05-14 00:12] SevenBits commented on #112
@karlic Thank you for your contribution, and for catching the error on the Enterprise website regarding the filename. I will correct this.

Regarding the kernel boot options: they were correct when I originally wrote the page with the help of Tails developers. They must have changed this, which is why the options aren't correct. I'd be happy to correct this, if you can verify that the fix indeed w

[2016-05-14 00:12] #112 closed

[2016-05-14 00:15] SevenBits commented on #110
@charleswolfe Could you describe how you fixed your problem/why you opened this issue, so that others who arrive here in the future can receive help if they had the same problem you did? Thank you.

[2016-05-14 00:19] SevenBits commented on #84
@karlic Yes, that's a good suggestion, but I'm a little short on time right now (I have other full-time responsibilities). If you'd like to make the changes and submit a patch or pull request, I'd happily accept it!

[2016-05-14 00:22] SevenBits commented on #111
Thank you for finding the bug, but this should be filed under [SevenBits/Enterprise](https://github.com/SevenBits/Enterprise), as it is not related to Mac Linux USB Loader.

Also, :+1: for looking in the source code.

[2016-05-14 00:22] #111 closed

[2016-05-14 00:46] SevenBits commented on #81
@karlic Perhaps distributions downloaded with the downloader should remain in the popover until the user quits the app?

Unfortunately, you can tell the open panel to show a directory by default, but I've found that it doesn't necessarily respect that depending on what settings the user has chosen. You can always create a USB with a downloaded ISO by double-clicking on the distribution name in the

[2016-05-14 00:48] SevenBits commented on #108
Closing due to no updates in over a month.

[2016-05-14 00:48] #108 closed

[2016-05-14 00:49] #98 closed

[2016-05-14 09:40] karlic commented on #112
@SevenBits I can confirm that the options I have posted in https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Configure-booting-(one)-of-multiple-ISOs-(multiboot) **do** work for tails-i386-2.3.iso and on a MacBook Pro (13-inch, Early 2011) running OSX 10.11.3.

They came from the source code for MLUL, so I can't really claim credit for it. ;-)

Lines 108--109 in SBEnterpriseConfigurationWrite

[2016-05-14 10:05] karlic commented on #81
@SevenBits My preference would be to just download them to ~/Downloads/. For me that is the logical place to look for them. They are also big, so I don't want them "hidden" in ~/Library... and once I'd installed them to USB, I deleted them. (If I need them again, I'll download the latest ISO.)

I wouldn't have thought of double-clicking the distribution to install. Maybe dim of me, but that's the

[2016-05-14 12:18] karlic commented on #84
@SevenBits I just noticed that "splash" appears twice on line 109 in SBEnterpriseConfigurationWriter.m

If I get time I'll try and do this. I don't have a developer account though, so not sure how far I'll get in testing.

[2016-05-14 19:07] SevenBits commented on #112
@karlic Alright, I'll double check the source and make the change. Thanks!

[2016-05-14 19:09] SevenBits commented on #84
@karlic Hmm, I didn't catch that. It's harmless in any regard, though, so not an immediate issue.

[2016-05-17 06:46] learntofly83 opened #113 "Kali Download Broken (I Have a Fix)"
Kali Wont Download from v 3.2.1 due to the source being http rather than https

A hack for the end user is:

(I'm using sudo as I've changed the default permissions to root:admin on the .app)

`sudo nano /Applications/Mac\ Linux\ USB\ Loader.app/Contents/Info.plist `

Change the last few lines from:

[code]

TO:

[code]

Then run (assuming you have Xcode installed)

`sudo codesign -fs - /Applicati

[2016-05-17 10:43] SevenBits commented on #113
@learntofly83 While this is a worthy hack, I'd like to avoid putting this into Mac Linux USB Loader. If, by the time of the next release, Kali _still_ has not enabled HTTPS for downloads, I will consider using a temporary exception to allow the app to use HTTP only with `kali.org`; other connections will still be forced to HTTPS.

[2016-05-17 21:31] dustingit opened #114 "custom kernel option (Number 9) doesn't seem to work."
**Short Description of Problem:** Under boot option 2 "Modify Linux kernel boot options" option "9" doesn't seem to work like other options.

**Expected Behavior:**

If I choose option 9 it should change to yellow and then I should be able to hit "0" and hopefully specify an option like the initrd path so I can get different ISO's to work like ubuntu server

**Actual Behavior:**
Doesn't change yel

[2016-05-17 23:52] learntofly83 commented on #113
Sure it was more of a letting you know of the issue with Kali and an interim workaround for end users ;)

Unbelievable Kali isn't delivered via https isn't it!

[2016-05-18 00:30] SevenBits commented on #113
Yes, it's ironic that a distribution focused on security does not allow secure encrypted connections to their downloadable files.

[2016-05-18 00:31] SevenBits commented on #114
Works for me. Maybe it is working on your system and the prompt just isn't showing up for whatever reason?

[2016-05-18 02:22] dustingit commented on #114
Hey SevenBits,
Thanks for the response. I thought that maybe it working and just not
changing the text to yellow, but when I choose 9 and then 0 to boot, it
just hangs. I've tried it on two different Macs with the same results.

On Tue, May 17, 2016, 6:31 PM SevenBits <notifications@github.com> wrote:

[2016-05-18 03:02] SevenBits commented on #114
You don't press 9 and then 0 -- you press 9 and type the additional options that you want to pass to the kernel. When you press Enter, those options will be saved and the text will turn yellow. Then you press 0 to boot.

[2016-05-21 00:36] #113 closed

[2016-05-27 16:19] dustingit commented on #114
Once I push the 9 it just sits there and doesn't respond to anything. I
will try the latest version and report back.

Thanks!

On Tue, May 17, 2016 at 9:02 PM SevenBits <notifications@github.com> wrote:

[2016-05-28 08:24] ManuBermu opened #115 "MacBook Pro Retina support"
**Short Description of Problem:** MacBook Pro Retina support

**Expected Behavior:**

Unable to start Linux on a MacBook Pro Retina. An incompatibility message appears.

[2016-05-28 13:50] SevenBits commented on #115
Can you give more details? Or post a screenshot of this "incompatibility message".

[2016-05-28 22:14] bu7maid opened #116 "Keyboard and touchpad is not working on MacBook"
**Short Description of Problem:** When I load up Kali Linux using a usb, it works and loads up but then the keyboard and touchpad (mouse) of my MacBook (12-inch early 2015) does not work.

**Expected Behavior:**

Keyboard and touchpad should work.

**Actual Behavior:**

Keyboard and touchpad is not functioning

[2016-05-29 15:30] ManuBermu commented on #115
Hi.
I tried to install Linux on a usb, complete installation with more than 4GB of persistence. And the mistake I obtained is as follows (image):
![foto 29-5-16 16 53 38](https://cloud.githubusercontent.com/assets/6910331/15634402/0e513932-25c3-11e6-92c8-86383897cd01.jpg)

[2016-05-30 20:17] SevenBits commented on #115
Have you tried booting with the `nomodeset` option enabled (you can find it in the Advanced Settings) to rule out any graphical issues?

[2016-06-05 21:41] JustSeb commented on #83
Did anyone fixed this problem? cant find any solutions online..

[2016-06-06 16:23] JustSeb opened #117 "Kali 2.0: no controller found Mac Pro 13 Retina"
Tried to install Kali Linux Live from Usb, when i choose to boot from the USB this is what i get on the screen:

[    1.899668] i8042: No controller found
Loading, please wait...
[    2.175150] usb usb2-port1: couldn't allocate usb_device
[   12.589508] usb 1-5: device descriptor read/all, error -110

BusyBox v1.22.1 (Debian 1:1.22.0-9+deb8u1) built-in shell (ash)
Enter 'help' for a list of built-

[2016-06-07 01:16] SevenBits commented on #117
Please try booting with `nomodeset`.

[2016-06-07 01:44] JustSeb commented on #117
tried already, same thing happens .. also tried to turn of encryption, found a forum where it helped to someone..but nothing..

[2016-06-07 12:21] SevenBits commented on #117
Maybe it's a driver issue? Can you try on another Mac and see if it works there?

[2016-06-09 03:48] g5mini opened #118 "Linux Mint Installation failure: ISO lacks an EFI-enabled kernel"
Hello, please bare with me, I'm new to Linux. I'm an end user on the Mac platform, and a GUI user at that. But, I found the Mac Linux USB installer, and decided to install it, in order to format a USB flash drive - to install linuxmint-17.3-cinnamon-64bit.

I downloaded linuxmint-17.3, erased the USB stick using Disk Utility in Mac OS 10.11.5, and ran the boot installer, locating the Linux Mint IS

[2016-06-09 12:38] SevenBits commented on #118
@g5mini Hi there. Linux Mint is a distribution that is based on Ubuntu, so Mac Linux USB Loader uses Ubuntu's settings to boot it. Mac Linux USB Loader should select the distribution family for you based on the ISO file that you give it. In this case, it (correctly) chose Ubuntu because it saw that you were using Linux Mint. Please re-do the procedure and leave Ubuntu selected as the distribution

[2016-06-09 13:03] g5mini commented on #118
Thank you for such a quick response. Can I ask...
When I do select Ubuntu as the distro from the menu (although it automatically appears at the top of the list), when I reboot into the Enterprise terminal window, should I select:

Option 1 ?: Welcome To Enterprise - Version 0.3.2 - Available Boot Options:
https://ibin.co/2juLO6Ycn44g.jpg — Boot Linux from ISO file?

Next, if I get to this screen a

[2016-06-09 13:17] SevenBits commented on #118
Hi @g5mini, the first thing you should do is read [the official instructions on the wiki](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/General-Instructions), if you have not already. These instructions are more up-to-date than some of the others you might find online.

You can select option 1 or option 2 from the main menu; it doesn't matter. Option 2, however, lets you enable some debug

[2016-06-09 13:24] g5mini commented on #118
Thanks again, I think part of what is confusing me about this process is the first image in my first post.
"This ISO lacks an EFI-enabled kernel" That check box was automatically selected.

I guess the frustration comes from not knowing what that means - if you're new to this process as I am. The dialog box doesn't explain what "lacks an EFI-enabled kernel" means, or what it means to have that opt

[2016-06-09 13:59] g5mini commented on #118
Got Linux Mint to boot into the desktop. What an odd OS. It looks and behaves kind of like... Windows NT, crossed with... not sure. Not super refined, but very usable I guess. I'm so used to the Mac GUI.

I'll definitely poke around in there at some point. Thanks for your help, it worked.

[2016-06-09 14:21] SevenBits commented on #118
If you'd prefer a more Mac-like experience, you could use Elementary OS. You can download it from the distribution downloader. And there's always standard Ubuntu...

[2016-06-09 16:18] #118 closed

[2016-06-10 20:31] wolftune opened #119 "add a LICENSE file"
**Short Description of Problem:** README mentions BSD-3, but there's no LICENSE file or link to the license itself.

**Expected Behavior:** a LICENSE file with the BSD-3 text is the common approach

[2016-06-10 20:36] SevenBits commented on #119
Thank you for catching my oversight; I'll add the file!

[2016-06-11 00:20] #119 closed

[2016-06-11 00:20] SevenBits commented on #119
All done!

[2016-06-12 13:00] ManuBermu commented on #117
I have the same problem. I try on Mac Mini 2011 and it's work but on MacBook Pro Retina no.

[2016-06-12 16:48] SevenBits commented on #117
@ManuBermu, can you try another distribution, such as Ubuntu? I’d like to know if this is a Kali-specific issue; if it is, then you need to take this up with them.

[2016-06-12 17:09] SevenBits commented on #116
Hmm, I’m not sure what could be causing this. Perhaps it’s a driver issue? Have a tried using an external mouse, such as a USB mouse or similar?

[2016-06-12 17:18] SevenBits commented on #97
I’m working on improving this now.

[2016-06-13 00:30] bu7maid commented on #116
I tried to use an external mouse as well as keyboard and it worked fine.

[2016-06-13 12:33] ManuBermu commented on #117
I try with Elementary OS, Ubuntu, Kali and the only distribution that works 100 % is Tails using its own installer.

[2016-06-13 13:06] SevenBits commented on #116
@bu7maid Then an external mouse and keyboard worked, but not those on your Mac, it's a probably a driver issue. I'd file a bug report with Kali Linux.

[2016-06-13 13:08] SevenBits commented on #117
@ManuBermu, that's interesting. I wonder what Tails is doing that Mac Linux USB Loader isn't... I will try to setup Tails myself, perhaps something has changed in recent versions.

[2016-06-13 21:26] JustSeb commented on #117
yep.. Tails works for me two..

[2016-06-14 12:49] SevenBits commented on #117
@JustSeb, what did you do to get Tails to work?

[2016-06-14 13:01] JustSeb commented on #117
create live usb, persistence manager and reboot.. just the standard procedure

[2016-06-15 03:07] glasshapful commented on #117
I was able to successfully boot from a flash drive using the previous version (v3.2.1) of Mac-Linux-USB-Loader, but the latest version (v3.2.2) gave me the "no controller found" error for both Debian and Ubuntu on a late-2012 mac mini and an early-2015 macbook pro.

[2016-06-15 13:57] SevenBits commented on #117
@glasshapful That's strange, nothing related to the configuration was changed in those versions.

[2016-06-15 16:32] JustSeb commented on #117
tried the 3.2.1 version, same result.. :/

[2016-06-30 20:29] chovy opened #120 "No wifi and do I need to do a full install after I boot into live CD?"
**Short Description of Problem:**

No wifi (MacOS) and do I need to do a full install after I boot into live CD?

I want to have a persistent Ubuntu install on my thumbdrive (so I can plug it into any computer and have my OS in my pocket). I do not want to persist to the computer's hdd, only the thumbdrive.

**Expected Behavior:**

Expect wifi to work when I boot into live disk from USB.

**Actual

[2016-07-04 00:53] SevenBits commented on #120
Whether or not WiFi works depends entirely on your distribution and which Mac you have. Some Macs require proprietary drivers that do not ship by default with most Linux distributions. You may need to install them manually.

You don't need to actually install Ubuntu to have a persistent install. You just run the persistence manager tool in Mac Linux USB Loader and select the appropriate option in

[2016-07-04 06:53] chovy commented on #120
@SevenBits hey, so I got it working w/ a live usb drive. But I want to install from the live usb to another usb as a regular full install. I went through that process (using two usb drives) but after installation was completed, I could not boot into the new install from my usb drive.

I think the xubuntu installer wiped out the partitions that your software created. Thus making it unbootable. I re

[2016-07-05 01:45] SevenBits commented on #120
@chovy Mac Linux USB Loader is designed to allow you to create bootable live USBs. Once you boot into Ubuntu, it's all you in terms of the installation. I can't provide Ubuntu installation tips; there are a number of other good resources online for that.

To get you started, though, perhaps you should not try to install over the files added by Mac Linux USB Loader. It's also possible that the XUbu

[2016-07-05 01:45] #120 closed

[2016-07-06 00:12] jam4375 commented on #116
I'm also seeing similar behavior with the 2016 12" MacBook. Both the keyboard and touchpad are not responding. This is while trying to install Xubuntu 16.04. I have posted a question here:

http://askubuntu.com/q/794941/198090

Just to get it to boot I have to set `noacpi`. This [thread](http://askubuntu.com/q/794941/198090) suggests trying the option `nolacpi` instead. However, trying to choose '

[2016-07-06 17:06] SevenBits commented on #116
@jam4375 This has been observed by multiple different Linux distributions and it is an issue with your MacBook's hardware. Since your Mac is from this year it is probably too new and the folks who work on the Linux kernel have not gone about fixing the issue yet.

If you can use an external mouse and keyboard, I would do that for the time being.

Also, I am investigating issues running some parts

[2016-07-06 17:11] SevenBits commented on #114
I've received several reports on this. Will do some testing and report back.

[2016-07-07 22:36] garotadpi opened #121 "Program doesn`t recognize GUID format USB thumbdrives"
At the choose Destination box, USB thumbdrives formatted with the Mac OS file system with the GUID partition table don`t appear on the Choose Destination Box.

**Expected Behavior:**

A thumbdrive formatted with the Mac OS file system anda GUID partition table is inserted in the computer, pressing "Refresh" on the Choose Destination box should make it appear on the box, as a selectable USB Drive t

[2016-07-07 23:14] SevenBits commented on #121
Have you enabled the "allow HFS+ formatted drives" option in the preferences?

Furthermore, the documentation states that a FAT-formatted drive is required, so this isn't exactly a bug.

[2016-07-15 17:14] drfraser opened #122 "Immediate crash upon trying to download a distro"
Hi,

I have OS X 10.8.5, iMac 2010....  I am using Mac Linux USB Loader v3.2.2.  Nothing special about my system as far as i know

As soon as I click on any distro in the Distribution Downloader screen e.g. Ubuntu 16.04, the app crashes.  Where does it put the downloaded ISOs?

Process:         Mac Linux USB Loader [991]
Path:            /Users/USER/*/Mac Linux USB Loader.app/Contents/MacOS/Mac Li

[2016-07-15 21:05] SevenBits commented on #122
Could you try again with the latest 3.3 beta version to see if the problem persists there?

[2016-07-15 22:39] drfraser commented on #122
I did the exact same steps and it still crashes with the same exception. I'd take a crack at it, to see if I can find the line, but have to update XCode and all that first.

[2016-07-16 17:49] SevenBits commented on #122
@drfraser Hello there -- does the error occur when you do a _single click_ or the distribution name, or when you do a _double click_?

[2016-07-16 17:58] #122 closed

[2016-07-20 20:29] SevenBits commented on #122
@drfraser This has been fixed.

[2016-07-20 20:30] SevenBits commented on #121
Closing due to no activity.

[2016-07-20 20:30] #121 closed

[2016-07-20 20:31] SevenBits commented on #106
Closing due to lack of activity.

[2016-07-20 20:31] #106 closed

[2016-07-22 15:59] drfraser commented on #122
thanks. But I can't compile until I figure out how to workaround IB_DESIGNABLE as XCode 5 does not support that etc - and the compiled versions (3.3, 3.2) I can download haven't been updated (?).  If no one else is trying to run this on 10.8, then this is entirely my problem and I'll figure it out :)

[2016-07-22 22:58] SevenBits commented on #122
@drfraser I’m doing everything I can to get the update out as soon as possible. If you have a pressing need for a compiled build with the fix you can [contact me](https://www.sevenbits.tk/contact.html) and we can work something out.

[2016-07-23 09:05] drfraser commented on #122
My apologies for seeming to be impatient; I didn't intend that. I shouldn't have left a note; my compiling problems are not relevant to the issue.

[2016-08-02 15:26] brettalton opened #123 "Knoppix (Debian-based), doesn't install or boot properly"
**Short Description of Problem:** Using KNOPPIX_V7.6.1DVD-2016-01-16-EN.iso, I tried installing Knoppix as a liveUSB and it doesn't appear to work. Files aren't copied and USB won't boot.

**Expected Behavior:**

Install Knoppix, reboot, boot into Knoppix LiveUSB.

**Actual Behavior:**

When installing Knoppix as LiveUSB, 'enterperise.cfg' pops up asking me to manually configure my bootloader. I c

[2016-08-02 15:31] brettalton commented on #123
This menu also doesn't appear when trying to install Knoppix (note: this is an Ubuntu ISO). It just goes from choose destination / enterprise to install.
![screen shot 2016-08-02 at 8 29 23 am](https://cloud.githubusercontent.com/assets/108411/17334480/43aaa208-588b-11e6-93ca-3b394e386ac0.png)

[2016-08-02 15:32] brettalton commented on #115
Following. I also have a 15" Macbook Pro Retina circa early 2013. I was able to get gParted installed via `vga=normal` so far, going to try Ubuntu right now.

[2016-08-02 22:11] SevenBits commented on #123
@brettalton Knoppix is not supported by default in Mac Linux USB Loader, so that is why the Enterprise settings window comes up; you need to fill out the parameters.

In regards to your second screenshot, can you be more specific as to what you mean? What do you mean it ‘skips the menu’?

[2016-08-03 04:28] cems2 opened #124 "Cant see an EFI usb disk to boot from at the mac boot drive selector (option key boot)."
**Short Description of Problem:** put text here

Option to boot into usb linux was not available during the Mac's boot process.  I was unable to get the mac to see  any of 4 distros on 3 different USB sticks, trying all USB ports on the computer.  (the ports and the sticks are good).

**Expected Behavior:**

after creating the sticks on one mac (running e-capitan) I put them into the core2duo mad

[2016-08-03 14:17] SevenBits commented on #124
The [system requirements][1] state that a requirement is:

You have a Mac with 32-bit UEFI firmware, which is not supported by default. You can build [the boot loader][2] from source though on 32-bit Linux, and that will create binaries that will boot on your Mac.

[1]: https://www.sevenbits.tk/mlul/sys-requir.html "System Requirements"
[2]: https://github.com/SevenBits/Enterprise "Enterprise"

[2016-08-03 14:17] #124 closed

[2016-08-04 03:13] cems2 commented on #124
Thank YOU!  Would something like Refid be another solution here?

And will the boot loader built that be 64 bit linux compatible.

Perhaps add to your suggestion heap of having your tool warn the user if the hardware is older than 2007.  That of course would not catch the cases built on another machine.

[2016-08-04 12:23] SevenBits commented on #124
rEFInd is more geared towards serving as a traditional boot manager for dual booting Linux on Macs (or other EFI-based systems, really), not for creating bootable USB sticks, so as far as I know the answer there is no.

Yes, the boot loader built _should_ be 64-bit Linux compatible, though it will not boot on systems with a 64-bit EFI. Almost every system on the planet that uses EFI uses 64-bit EF

[2016-08-04 16:18] SevenBits commented on #124
@cems2 Sorry, at some point I will write up much better instructions for how to build the boot manager.

The process is actually quite simple:

If you have any additional questions please post. If you need coaching or for me to work you through the process, I can do that for a small fee. You can [contact me][4] for the details if this something that interests you.

[1]: https://github.com/SevenBit

[2016-08-04 16:49] brettalton commented on #123
I don't mind filling out the parameters, but what I'm saying is that the program doesn't detect that FAT32 doesn't support 4GB+ files, so it gives the appearance that the installation was successful, but stick doesn't contain the knoppix.iso. The program thus fails to throw a warning and the user is unaware of the failure, reboots and notes that there is no OS to load.

As for the second screensho

[2016-08-04 17:02] SevenBits commented on #123
@brettalton Ah, my mistake! Yes, I see what you mean now. I'll add an error message that gets displayed if the ISO is larger than 4 GB. Alternatively, you could try enabling the option to install on an HFS+ formatted drive; that would let you use larger file sizes, and is detected at boot by Macs (but, alas, only by Macs).

(Honestly, I can't believe it's that big. The largest ISO I've seen is Kal

[2016-08-04 17:18] brettalton commented on #123
Continuing your side note, I completely agree re: Knoppix size. I saw old screenshots of me performing data recovery with Knoppix 5.1.1 which was a 2007 distro at ~700MB and it worked just great. No longer having a CD-ROM drive of course leads me to using USB sticks. Using a 2014 Mac, I assumed I needed a recent distro and it appears Knoppix stopped with CD-sized ISOs in 2013 and now only have ~4G

[2016-08-04 17:36] SevenBits commented on #123
@brettalton I'm glad you got it working. I'll add that warning you mentioned.

[2016-08-04 22:58] #123 closed

[2016-08-12 17:17] umma08 commented on #124
Hi, i have this problem as well - but i am running a mid 2010 macbook pro, core2duo which runs el-capitan (10.11)

I am able to create the USB no problems, using the latest Kali distro, but on the drive select screen on boot the USB is not showing.

Any ideas?

[2016-08-12 23:44] SevenBits commented on #124
@umma08 What are the contents of your USB drive?

[2016-08-13 21:59] alkibia commented on #87
works perfect for me:

[2016-08-14 15:45] SevenBits commented on #87
@alkibia and everyone else: this issue should be resolved now in the latest releases. Just please keep in mind @gti3993’s comment:

[2016-08-14 15:55] SevenBits commented on #114
The issue should be resolved in the latest 3.3 beta; please try that. Closing for now.

[2016-08-14 15:55] #114 closed

[2016-08-14 15:56] #116 closed

[2016-08-14 17:39] umma08 commented on #124
@SevenBits

 ~/efi

~/efi/boot

~/efi/boot/boot.efi
~/efi/boot/boot.iso
~/efi/boot/bootx64.efi

[2016-08-14 17:51] SevenBits commented on #124
@umma08 Is your USB using a FAT32 filesystem?

[2016-08-14 17:58] umma08 commented on #124
@SevenBits yes, the USB is a 16GB, and was formatted using Disk Utility.

It was formatted MS-DOS(FAT) and as a Master Boot Record.

I am trying now as a GUID Partition Map, to see if that makes a difference.

I used both the latest Kali distro - downloaded through the MAC USB Loader app, and also downloaded manually through the Kali website (both were not seen on the boot screen)

My choice of di

[2016-08-14 18:09] umma08 commented on #124
@SevenBits can confim: makes no difference if the disk is formatted as a GUID Partition Map.

[2016-08-14 18:13] cems2 commented on #124
As perahps simple and obvious to you that is, That's a remarkable useful bit of valuable troubleshooting information to us lesser mortals :-)    One of the grand time syncs of trouble shooting is exhaustively enumerating all the possible binary alternatives.  (do I format it on a windows machine, linux or Mac;  try another USB stick;  32bit versus 64 bit, etc...).  You  may want to include that in

[2016-08-14 18:17] SevenBits commented on #124
@umma08 Your Mac model should be capable of booting the boot loader. To be clear: when you hold down the Option key at startup, when the Mac’s boot selector shows up, you see your hard drive and the Recovery HD, but **not** your USB drive?

@cems2: I understand. This is not a very intuitive topic for most. :-) I’ll see what I can do about the documentation.

[2016-08-14 18:18] umma08 commented on #124
@SevenBits Is might have something to do with this? SIP (System Integration Protection) that is on El-Capitan.

http://www.rodsbooks.com/refind/sip.html#disable

[2016-08-14 18:32] cems2 commented on #124
It's not obvious to me why SIP would matter for a USB install.  SO I'm guessing that maybe you are suggesting that maybe SIP is the reason we can't get the thing to show the USB stick in the boot-options menu? 

That might make a lot of sense. 

But here's a couple possible things to consider if they consistent with this speculation.

   1. my computer is running Lion, not a newer OS.  Does Lion h

[2016-08-14 18:42] umma08 commented on #124
@cems2 @SevenBits

just tried with SIP disabled.

I rebooted into my System HD original clone, and then disabled the SIP using csrutil disable.

you can check the status with csrutil status

i then rebooted into my cloned System HD and checked the status. SIP was disabled on the machine.

i then booted using the option/alt - and the USB is still not detected.

so this did not solved the problem.

[2016-08-14 18:47] SevenBits commented on #124
@umma08 @cems2 SIP is an operating-system level feature (mostly; the nuances are too complex to go into here). This has no bearing whatsoever on whether or not your USB can be booted by the system. I can, and do, boot USB drives with Linux on a system with SIP enabled.

[2016-08-14 18:51] umma08 commented on #124
@cems2 @SevenBits Any other ideas of why my system won't recognise the USB? or any other options? I am going to try another version of Linux now - Ubuntu - to see if that makes a difference.

[2016-08-14 19:14] SevenBits commented on #124
@umma08 Without being able to re-produce the problem myself, there’s not much more I can do without more information.

[2016-08-14 19:16] umma08 commented on #124
@SevenBits ok. is there anything i can do to give you more info?

[2016-08-14 19:28] cems2 commented on #124
so ot sort of list out the binary set of choices here.

1. pre-2007 macs are UEFI  not EFI.  SHould this work for UEFI macs without doing something to change their firmware?  (and if there is a frimware change where to get it).

2.  there's an option in Mac-usb loader for using the distro's EFI or not.  (or something like that, the wording has changed in Mac-usb-loader over versions).  Should this

[2016-08-14 20:36] umma08 commented on #124
@SevenBits @cems2

I feel really stupid now, but after googling the issue, it seems i found the solution!

On the boot screen, all i had to do was take out the USB, and then reinsert it.

The bootscreen then sees the USB as a bootable EFI drive. Booted up into Kali, no problems - but only after setting the nomodeset option in the 2) Advanced Settings.

sorry about all that! hopefully this will hel

[2016-08-15 00:31] Patwd opened #125 "USB Persistence doesn't work on SD"
Seems USB Persistence doesn't see the SD Card ...
This may not be a bug - since it's called USB persistence - not SD persistence - but I thought it would work for other removable media - as I need my USB ports for USB Ethernet card...

Selecting USB Persistence - only sees the USB drives / volumes ...

[2016-08-15 17:19] SevenBits commented on #122
@drfraser Updated version with fix is out.

[2016-08-15 17:23] SevenBits commented on #124
@umma08 Glad you got it working.

[2016-08-15 17:24] SevenBits commented on #125
@Patwd Does the installation wizard see your SD card?

[2016-08-16 08:48] umma08 commented on #124
@SevenBits yes, me too! managed to get persistence up and running as well, as per the <a href="https://www.youtube.com/watch?v=mDRbTHCoj8U">youtube video </a> that you had linked to in another thread so all good to go now :)

[2016-08-16 22:56] cems2 commented on #124
Sigh.   Did not work for me.

My macbook is a UEFI boot so maybe that’s the difference

[2016-08-16 23:09] SevenBits commented on #124
All MacBooks use UEFI booting...

[2016-08-18 23:29] dustingit commented on #114
I am now  able to use option 9 and pass in kernel options. Thanks for working on it SevenBits!

[2016-08-19 00:09] SevenBits commented on #114
@dustingit No problem!

[2016-08-19 11:28] ManuBermu opened #126 "Boot In OS X and Windows"
Hello,

You can install Linux on a USB and you can start from both Windows and OS X?
This can already be done by the installer Tails but not another Linux distribution.

[2016-08-19 13:35] SevenBits commented on #126
@ManuBermu Please view the documentation:

https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#1-does-mac-linux-usb-loader-support-uefi-based-pcs

[2016-08-19 13:35] #126 closed

[2016-08-20 17:05] aurelg commented on #125
Same here w/ Mint 18 on a regular USB stick, 2011 MBA.

The installation wizard sees the USB stick, and is able to create a casper-rw file at the root of it. However, filesystem changes are not persistent, no matter if I enable the ad hoc option in the boot menu by choosing 1/ "Modify Linux kernel boot options (advanced!)" 1/ Ubuntu and 5/ Persistency.

Interestingly the kernel command line (as sh

[2016-08-20 17:13] SevenBits commented on #125
And, to be clear, this works as expected on a USB stick?

[2016-08-20 17:15] aurelg commented on #125
@SevenBits no, it doesn't. Same symptoms than what @Patwd observed on a SD card.

[2016-08-20 18:15] SevenBits commented on #125
Now, that's odd. Did it work on previous versions of Ubuntu?

[2016-08-20 18:17] aurelg commented on #125
I didn't tried. Which ubuntu version did you tested it with? I may be able to give it a try within 24h.

[2016-08-21 06:13] aurelg commented on #125
OK, tried Ubuntu 14.04.5 and 15.10, still no luck.

When starting 14.04.5, the kernel command line adds an option which might be connected to persistency, like `seed.persistent`, but it does not work. It's probably not relevant to try to fix that one since 16.04 is the latest LTS.

[2016-08-27 15:30] fivepapertigers opened #127 "No explanation for "Skip the boot selection menu" in the wiki"
Relatively trivial, but:

I am using your software for the first time to boot Ubuntu from a USB and there was an extra option "Skip the boot selection menu" that was not described in the wiki. Would love to see it explained so that I had a better sense of what my options are.

Installation still in progress, but I'm looking forward to the results!

[2016-08-27 23:24] plashgarlou99 opened #128 "Boot issue"
Hello,
I am now getting an error message on boot up, "could not find the IOS /efi/boot/boot.ios" any idea what i am doing wrong?
Thank you!!!

[2016-08-28 03:03] hkalan commented on #125
Hi

Persistence not working for me also:

Using Mac Linux USB Loader (3.3) I created Live USB (using a 8 GB Flash Drive), by using Linux image: "ubuntu-16.04.1-desktop-amd64.iso", after the installation was finished succesfully, I used "Persistence Manager" and created on the same USB drive 512 MB of persistence.

I used the USB to boot the system and used the boot menu (Enterprise) made sure that

[2016-08-28 03:06] #128 closed

[2016-08-28 03:06] SevenBits commented on #125
@hkalan There is a bug in the current version of my boot loader. Please go into Setup USB Device > Edit Enterprise Configuration File, and paste the contents here.

[2016-08-28 03:10] SevenBits commented on #127
@fivepapertigers Thank you for the tip, I will take another look at the documentation.

For anyone wondering: this option tells the boot loader to skip showing the menu (I.e where you need to press 1 or 2) and just boot the distribution directly. This is useful for convenience, but the downside is that you cannot access the advanced boot settings menu to e.g enable persistence or disable kernel mo

[2016-08-28 03:12] hkalan commented on #125
@SevenBits

Thanks for swift reply, following is  the content of enterprise.cfg:

"#This file is machine generated. Do not modify it unless you know what you are doing.

entry Ubuntu
family Ubuntu"

Thanks

[2016-08-28 03:17] SevenBits commented on #125
@hkalan You're welcome, I happened to be on GitHub and I saw your message.

Try this (late here, so untested):

    entry Ubuntu
    family Ubuntu
    kernel /casper/vmlinuz.efi persistent

[2016-08-28 03:29] hkalan commented on #125
@SevenBits, I made the changes (below) and double checked to be sure the config is saved correctly, tested again as described in my initial comment, unfortunately persistence is not working in this case.

family Ubuntu
kernel /casper/vmlinuz.efi  #persisten

Thanks for your support

[2016-08-28 03:36] SevenBits commented on #125
It looks like you did not spell 'persistent' correctly...

[2016-08-28 03:45] hkalan commented on #125
It looks like you did not spell 'persistent' correctly...

@SevenBits, It was copy/paste error here in the comment, it is pasted correctly in enterprise.cfg, thanks

[2016-08-28 20:24] kived opened #129 ""Grant Access" dialog should be more explicit about what needs to happen"
**Short Description of Problem:**
Dialog says to just hit "Grant Access", but this doesn't actually explain what you need to do.

**Expected Behavior:**
Hit "Grant Access", application continues with work

**Actual Behavior:**
Dialog just appears again and again asking to "Grant Access"

**Steps to Reproduce:**
Open application, choose to create Live USB, select an ISO and device, "Grant Access" d

[2016-08-28 20:31] kived commented on #129
In fact, on the second USB I created the dialog did automatically navigate to the USB. But the first one didn't, after multiple reinserts and restarts of the app.

[2016-08-28 23:41] SevenBits commented on #129
@kived Thank you, I will update the documentation.

[2016-08-28 23:44] #129 closed

[2016-08-28 23:44] SevenBits commented on #125
@hkalan Okay, I will look into this. Thank you.

[2016-08-28 23:45] SevenBits commented on #100
Closing because there is no new information posted.

[2016-08-28 23:45] #100 closed

[2016-08-28 23:46] SevenBits commented on #29
I am closing this thread for now, since there have been no new posts. Will re-open if necessary.

[2016-08-28 23:46] #29 closed

[2016-08-28 23:54] SevenBits commented on #127
@fivepapertigers [Updated](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/General-Instructions).

[2016-08-28 23:54] #127 closed

[2016-08-30 18:14] JonDotKom commented on #87
defaults delete com.sevenbits.Mac-Linux-USB-Loader: Works

sudo rm-rf  ~/Library/Containers/com.sevenbits.Mac-Linux-USB-Loader/ : Works

The next time it prompted me to grant the access & still got the issue: I changed the name to disk drive... Perfect

[2016-08-31 22:35] ajmichaels opened #130 "USB not appearing in "Choose Destination" option"
**Short Description of Problem:** USB is not appearing as an option, even though I can use it fine

**Expected Behavior:**

USB appears as an option just like the tutorial screens

**Actual Behavior:**

USB is not appearing as an option - nothing is appearing.  The "Choose Destination" box is blank.

**Steps to Reproduce:**

Not sure - This happened first try.

![image](https://cloud.githubusercon

[2016-09-01 00:30] SevenBits commented on #130
@ajmichaels Have you read [the FAQs](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#3-why-isnt-my-usb-drive-detected-it-should-be-formatted-as-fat)?

[2016-09-01 01:48] ajmichaels commented on #130
@SevenBits Yes, I've tried formatting it as every available option disk utility provides and it's not being detected.

[2016-09-01 02:52] SevenBits commented on #130
@ajmichaels Please try enabling the 'Detect Hard Drives' option in the preferences.

[2016-09-01 03:00] ajmichaels commented on #130
@SevenBits Tried that before and got it working, thank you :) If I may ask one more question, I've followed the instructions here http://www.howtogeek.com/213396/how-to-boot-a-linux-live-usb-drive-on-your-mac/ to get persistence working with your app, but the drive is once again not showing up anywhere (booting into ubuntu is working).  I didn't see anything in the FAQ about persistence with the G

[2016-09-01 03:06] hkalan commented on #125
@SevenBits  Could you please provide **an estimated release date or a workaround for this issue**, I really need persistence in order to be able to **use Ubuntu with my iMac Retina 27 (Late 2014)**. Persistence is required **to update the Ubuntu Graphic Card Driver for ATI card.** Currently a black (blank) screen is displayed and I can't do anything. However the Ubuntu has no problem loading in my

[2016-09-01 04:14] #130 closed

[2016-09-01 04:21] ajmichaels commented on #125
@SevenBits Persistence is also not working for me on a usb stick.  Followed all the instructions, set up persistence through the GUI, and enabled option 5 when booting.

[2016-09-01 11:36] SevenBits commented on #125
@ajmichaels This is a known bug. Please see #125.

[2016-09-01 12:15] SevenBits commented on #125
@hkalan These configuration file were confirmed by another person to work:

    entry Ubuntu
    family Ubuntu
    kernel /casper/vmlinuz.efi persistent

Can you confirm that you have setup persistence correctly?

[2016-09-01 15:36] ajmichaels commented on #125
@sevenbits I've set up persistence as you've outlined in the guides, and tried that config file, but it's still not working.

[2016-09-01 15:56] hkalan commented on #125
family Ubuntu
kernel /casper/vmlinuz.efi persistent
Can you confirm that you have setup persistence correctly?

@SevenBits, Yes I can confirm Persistence file exists "casper-rw" and it is detected on the boot by enterprise, however after enabling Persistence in options menu (It is Highlighted Yellow) it does not work at all as mentioned in my original post.

Following is the screenshot of my enter

[2016-09-01 16:29] ajmichaels commented on #125
@sevenbits not sure if it helps, but when I use the config file you suggest, the loading screen says "boot parameters: persistentpersistent" instead of just "persistent".  When I remove the persistent flag from the config file but leave in the "kernel /casper/vmlinuz.efi", the boot parameters field becomes blank.

[2016-09-01 18:48] SevenBits commented on #125
@ajmichaels Yes, the spacing issue is something I'm aware of. I've fixed it in the source code, but it hasn't made its way into Mac Linux USB Loader yet.

Try this: keep that configuration (with the spacing issue) but select another option from before persistence, like `nomodeset`. See if, after selecting that, the persistence option stands alone. If so, then persistence should work.

[2016-09-01 21:21] ajmichaels commented on #125
@SevenBits That did it, thanks!

[2016-09-01 21:52] SevenBits commented on #125
@ajmichaels You’re welcome, happy to help.

[2016-09-02 00:16] hkalan commented on #125
@SevenBits, thanks to @ajmichaels I just noticed the spacing issue in Boot Parameters.

The current workaround for me is this (Enterprise 0.4.0 & Mac Linux USB Loader 3.3):

**In order to ENABLE persistence you should use Enterprise boot menu:**

- then select option `1) Boot Linux from ISO file`, the boot parameter `persistent` flag is automatically added by Enterprise when a persistence file is

[2016-09-02 00:21] SevenBits commented on #125
@hkalan The boot parameter is not automatically added...

[2016-09-02 00:41] hkalan commented on #125
@SevenBits Thanks, just noticed my mistake and updated the comment accordingly!

[2016-09-02 08:58] clayauld opened #131 "Persistence Manager"
**Short Description of Problem:** The persistence manager seems to work properly for a while then suddenly crashes the entire app. After that happens the persistence file seems to be the proper size.

**Expected Behavior:**

I would assume the expected behavior should exhibit some sort of proper exit of the program where confirmation or errors are presented showing the results.

**Actual Behavior:

[2016-09-02 23:07] baileyturner22 commented on #87
Hey guys i've been having the same issue with Mac linux usb loader, I have tried all of these fixes that you have suggested on here and none of them have worked. So I began messing around doing random things and fixed it.< GO TO THE TOP LEFT CORNER AND CLICK ON MAC LINUX USB LOADER  NEXT TO THE APPLE LOGO, GO DOWN TO REGISTERED DEVICES AND CLICK ON THE USB NAME OR CLEAR ALL.> This worked for me so

[2016-09-02 23:09] SevenBits commented on #87
@baileyturner22 Yes, this solution is detailed [in the FAQs](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#4b-i-get-a-message-saying-the-usb-device-that-you-have-selected-cannot-be-accessed-because-the-system-denied-access-to-the-resource).

[2016-09-03 03:10] JonDotKom commented on #87
Yes.. I agree.. I just tried the solutions above before @baileyturner22 & it worked for me this time but there has been times it has not.. I have went to the drop down before but I forgot about it & it works everytime

[2016-09-03 13:16] oproz opened #132 "Kali Linux usb persistence unable to mount and therefore not working"
**Short Description of Problem:**
Hello,
I used mac linux USB loader 3.3 to create a persistence partition on my usb stick but when booting it fail to mount the partition

**Expected Behavior:**
During the boot process it should mount my persistent data

**Actual Behavior:**
I get this mesage instead :
`mounting /dev/sdb2 on /live/medium failed : invalid arguments`
`mounting /dev/sdb2/persistence

[2016-09-03 15:50] SevenBits commented on #132
@oproz Hi there, just to clarify: Mac Linux USB Loader’s built-in persistence tool only works with Ubuntu-based distributions. Kali requires separate steps which are detailed in this video (which I am linking to for informational purposes and do not endorse): https://www.youtube.com/watch?v=mDRbTHCoj8U

[2016-09-04 02:24] uxkenchris opened #133 "Mac Linux USB Loader not working on my new Mac Book Pro"
I downloaded the USB Loader program, it is not seeing my usb device.  USB Boot Controls and advanced configuration is greyed out.  My usb thumb drive is reformatted Master boot disc, should it be GUID?  it did not find that either.  How do i get it to show??

**Expected Behavior:**

I should be able to select my usb drive

**Actual Behavior:**

the installer cant find it, but disk utility and my d

[2016-09-04 16:43] SevenBits commented on #133
@uxkenchris Do you have the “enable hard drives” option enabled in the preferences?

[2016-09-04 20:47] uxkenchris commented on #133
No I did not. Thanks!  From a UX standpoint. It may be handy to enable it for users and to have a step by step instructions on the site.

Best!!
A UX Designer.

Sent from my iPhone

[2016-09-04 22:59] SevenBits commented on #133
@uxkenchris Did that solve your problem? If so, then please close out this issue.

[2016-09-06 17:06] james0S opened #134 "Create Installation Media for Kali 2?"
Want to make an installer USB stick for Kali Linux 2 for Early 2015 13" MBP El Capitan...sorry if this is not a supported feature; I have been struggling with booting an installation ISO for this OS for the past 5 days using a few other methods and I'm striking out. I'm finding this a bit surprising because last February I was able to simply burn a disc, format the SSD and install Fedora. The resi

[2016-09-06 21:13] SevenBits commented on #134
@james0S This isn't a supported configuration, but it might be doable. What have you tried so far?

Believe me when I say that this is a common sentiment. ;)

[2016-09-06 21:13] SevenBits commented on #132
@oproz Will close unless I receive more input from you.

[2016-09-06 21:13] SevenBits commented on #131
@clayauld Will close unless I hear more from you.

[2016-09-06 21:14] clayauld commented on #131
Go ahead and close it.

[2016-09-07 12:14] #131 closed

[2016-09-08 02:35] pufferaway commented on #134
I've run into the same issue since Kali changed to Debian's latest installation process. It seems the "syslinux" boot loader that provides a grub menu is bypassed, which is what you should see initially when booting into Live Kali or Debian. Using your installer and rEFInd, Kali will boot directly into the Live desktop on my 2008 iMac running 10.8.5. Unfortunately, Kali no longer has any installat

[2016-09-08 02:48] #133 closed

[2016-09-08 02:48] #132 closed

[2016-09-08 02:52] SevenBits commented on #134
@pufferaway I don’t have a Kali ISO in front of me so I don’t know this for sure, but perhaps you can just change the `kernel` and `ignited`v parameters in the Enterprise configuration feel to point to the installer rather than the live desktop?

[2016-09-08 02:58] pufferaway commented on #134
I'll give it a shot and update you.

[2016-09-08 03:23] james0S commented on #134
I was not sure what to do so my efforts in editing Enterprise were most likely clumsy... I have been trying some other methods like those outlined here:

https://www.youtube.com/watch?v=D1YohWypLSo

This ended up getting stuck on detecting the CD-ROM drive after booting Debian installer for me. Tried using an actual burned disc for the installer to use but it tried to use the disc and failed.

: P

[2016-09-08 19:08] alphaswell commented on #134
I had the same problem last night and gave up after a few hours. I'm trying again this morning, I've managed to change the kernel it loads to /install/vmlinuz but even with the line

initrd /install/initrd.gz

it's still loading the regular initrd.img from the boot directory. it still boots fine with these parameters, but it boots straight to the desktop environment still. there's a file called 'g

[2016-09-08 19:13] SevenBits commented on #134
@alphaswell Could you post your complete configuration file?

[2016-09-08 19:15] alphaswell commented on #134
#This file is machine generated. Do not modify it unless you know what you are doing.

entry Kali
family Debian
kernel /install/vmlinuz initrd /install/initrd.gz findiso=/efi/boot/boot.iso boot=install noconfig=sudo username=root hostname=kali

even changing the boot to install like this doesn't change the ramdisc it loads.

[2016-09-08 19:17] alphaswell commented on #134
i also tried using

ramdisk /install/initrd.gz

and

initrd=/install/initrd.gz

but it still boots /live/initrd.img every time

[2016-09-08 19:25] alphaswell commented on #134
#This file is machine generated. Do not modify it unless you know what you are doing.

entry Kali
family Debian
initrd /install/initrd.gz kernel /install/vmlinuz findiso=/efi/boot/boot.iso boot=install noconfig=sudo username=root hostname=kali

this booted the right ramdisk but the wrong kernel. i'm going to try keeping both those instructions on their own line.

[2016-09-08 19:36] alphaswell commented on #134
#This file is machine generated. Do not modify it unless you know what you are doing.

entry Kali
family Debian
initrd /install/initrd.gz
kernel /install/vmlinuz findiso=/efi/boot/boot.iso boot=install noconfig=sudo username=root hostname=kali

@james0S @SevenBits  this one booted the right kernel and ramdisk and now the install script is running.

[2016-09-08 19:38] alphaswell commented on #134
however, this is the debian install script, as far as i can tell not the kali install script, and it fails as it tries to load the necessary files from the cd-rom drive. i think i'm officially out of ideas but i'll keep looking at it.

[2016-09-08 19:48] alphaswell commented on #134
#This file is machine generated. Do not modify it unless you know what you are doing.

entry Kali
family Debian
initrd /install/gtk/initrd.gz
kernel /install/gtk/vmlinuz findiso=/efi/boot/boot.iso boot=live noconfig=sudo username=root hostname=kali

this loads the kali graphical installer but it's still trying to do it from the cdrom and I can't find a way around it. sorry for flooding this thread

[2016-09-08 19:51] james0S commented on #134
Hey, no problem at all... I'm trying to use your work to install Debian, which be converted to Kali using this script:

http://www.etcg.pw/downloads/debian-to-kali.bash

I will let you know if I have any success. I ran into the same CD-ROM install issue with Kali as well using etcg's method, btw.

[2016-09-09 02:15] james0S commented on #134
FYI everything fails even with a CD-ROM/DVD Drive. It seems that it can find the files on the disc but it can't use them. Some kind of I/O problem perhaps.

[2016-09-09 20:07] SevenBits commented on #134
@james0S If you can boot into the live desktop, I’m not sure why there’d be a problem booting the installer...

[2016-09-09 20:09] alphaswell commented on #134
It automatically boots into the live desktop which seems to work perfectly, but I don't see an option to load the installer anywhere once inside.

[2016-09-09 20:13] james0S commented on #134
I think what SevenBits means is that "if you can boot to live, then why can't you boot to the installer?"

Yeah I don't get it either. Speculating will lay my ignorance bare, so it is what it is for now. I can make a partition on the SSD a Live partition with persistence, however it's not really the same thing.

[2016-09-09 20:18] SevenBits commented on #134
@alphaswell @james0S My point was that it is highly improbable that the live desktop and the installer use different kernels or have different system requirements. Thus, if your system can boot the live desktop, then it should be able to boot the installer (which surely has lower system requirements than the live desktop).

Really, I blame Debian. What could possibly benefit from having the instal

[2016-09-09 20:20] alphaswell commented on #134
Yeah, I was going to say that it's 100% the fault of the distro, it makes no sense. Today I'm going to experiment with live building a kali iso on a virtual machine running on my main computer. Maybe there's a way to remove the live desktop environment from the iso and leave just the installer that would work.

[2016-09-09 20:22] alphaswell commented on #134
the other option would be to figure out how to get Enterprise to load the default grub menu of the iso which probably shouldn't be that hard, but is completely beyond my current knowledge.

[2016-09-09 20:40] SevenBits commented on #134
@alphaswell Enterprise doesn’t have a feature to take you to the distro’s menu, but that’s a feature, not a bug... when I started this project four years ago, most distributions had no EFI support or just flat out would not load, so it was pointless to use the distribution’s settings to setup the boot since they wouldn’t have worked anyway.

Didn’t you say that this configuration worked?

    entr

[2016-09-09 20:51] alphaswell commented on #134
Yeah, that configuration worked to get into the graphical install screen, but around step 5 or 6 it starts looking for the files in the CD-ROM drive where they can't be found. My optical drive in my MacBook has been broken for many years now so there was never a hope for me doing it that way anyway.

[2016-09-10 22:44] brianwalborn opened #135 "The archive "mac_linux_usb_loader.xip" does not come from Apple."
**Short Description of Problem:** Upon attempting to unzip the .xip file that was purchased, I'm getting the following system error: "The archive 'mac_linux_usb_loader.xip' does not come from Apple." I also attempted to use StuffIt Expander, but to no avail.

**Expected Behavior:** The file to unzip successfully.

**Actual Behavior:** Receive a system error.

**Steps to Reproduce:** Purchase and d

[2016-09-11 12:25] SevenBits commented on #135
@brianwalborn What version of OS X are you running?

[2016-09-12 04:35] brianwalborn commented on #135
I'm on the 10.12 Sierra beta. Do you plan on adding support for it in the near future?

[2016-09-12 11:23] SevenBits commented on #135
@brianwalborn Apple changed its plans on short notice, and now will not extract XIP files from third party developers. They previously recommended that developers use xip files. For the time being, please use a third-party app (like 'The Unarchiver' on the Mac App Store, it's free) to do the extraction. I will post a link to this issue report on the website.

[2016-09-12 11:23] #135 closed

[2016-09-15 20:37] SevenBits opened #136 "Drop 10.8 support"
Should I drop support for OS X 10.8 Mountain Lion? I would love to be able to bump the minimum up to 10.9. This will give me the ability to eliminate lots of old code that I have to keep around the support 10.8.

Any thoughts? I will act unless people object.

[2016-09-22 04:44] Addisonbean opened #137 "Can't Get to Graphical Install Option In Kali"
I am trying to install Kali on a partition on my Mac, so I decided to use Mac Linux USB Loader to install it. However, I can't get to the menu as shown in this photo:

![Kali Boot Options](http://docs.kali.org/wp-content/uploads/2014/08/03-boot-menu.png)

It seems like the menu is just skipped entirely. How can I get to that menu, so I can install it onto a partition?

[2016-09-22 15:47] SevenBits commented on #137
Mac Linux USB Loader is built to skip the distribution’s own boot menu; its boot loader loads the kernel itself. The reason for this is that most distributions didn’t use settings that would work on Macs.

This strategy did work, but then Debian came up with a new installation method whereby the installer is a totally separate kernel and ram disc from the live boot. I have no clue why they did thi

[2016-09-22 20:57] Addisonbean commented on #137
Huh, that's strange. So if I got an older Kali iso that uses the older installation method, should it work?

[2016-09-23 17:33] Addisonbean commented on #137
Or is there a way to install Kali on a partition while running Kali?

[2016-09-24 02:10] SevenBits commented on #137
I’m assuming so, though I’m not sure how far back you’d need to go.

You can’t install Kali unless you boot into the installer, which Mac Linux USB Loader does not do by default. You can modify the configuration file to do this, though.

[2016-09-24 02:11] SevenBits commented on #137
Closing as this is a duplicate of #134.

[2016-09-24 02:11] #137 closed

[2016-09-29 22:50] tbird20d opened #138 "Where does the "Download This Distro" feature put the ISO image?"
**Short Description of Problem:** Can't find Ubuntu 16.04 image after downloading it.

**Expected Behavior:**
I thought that the "Download This Distro" would put an iso image in my Mac Downloads directory.

**Actual Behavior:**

After downloading Ubuntu 16.04 using the tool, I can't find the image.

**Steps to Reproduce:**
Go to Distribution Downloader, Select Ubuntu 16.04, Click "Download This Di

[2016-09-30 00:58] tbird20d commented on #87
Problem solved!  I had the same problem.  My setup was: Macbook pro retina, El Capitan, 10.11.4.  Sandisk Cruzer 8GB, with MSDOS (FAT32) filesystem, ubuntu-16.04.01-desktop-amd64.iso, and Mac Linux USB Loader version 3.3.

I tried deleting the directory, doing 'defaults delete', and clearing the registered devices in the Mac Linux USB Loader menus.  These didn't work (or, they didn't work alone).

[2016-09-30 01:51] SevenBits commented on #138
@tbird20d It gets placed into a caches directory under the container directory in your user’s `Library` directory. If you want to install a distribution you’ve downloaded, just double-click on its name and the installer will open. If you want to find where it’s stored, right click on the name and select the option to view in the Finder.

[2016-09-30 01:51] #138 closed

[2016-10-01 07:03] ashwanijha04 commented on #38
I am trying to boot kali linux from my external hard disk. I created a persistence.conf file and also tried using mac linux usb loader to create persistence. When I go to advanced boot options, select 5 and 0. The persistence just doesn't work. Is there a way to use persistence for kali linux when booting from an external hard drive to a mac? Also, please help me with the wifi drivers, they just d

[2016-10-18 03:32] GeorgesFM opened #139 "Loader cannot be downloaded"
I just purchased this software and every time I try to install it, it gets an error message

![screen shot 2016-10-17 at 11 30 32 pm](https://cloud.githubusercontent.com/assets/22902578/19463417/dbcb4930-94c1-11e6-8719-d1716b456f7d.png)
I am unsure to why this is happening! Please help

[2016-10-19 02:29] SevenBits commented on #139
@GeorgesFM What version of OS X are you running?

[2016-10-20 03:18] valtism opened #140 "Persistance manager slider size text display locks on user input"
**Short Description of Problem:** If the text box next to the size slider in Persistence Manager is selected and any key is pressed, the displayed value is locked at its current value and changing the slider no longer updates the text.

**Expected Behavior:**

Displayed size should be as a label rather than a text box if uneditable, or the text box should take user input and change the slider upon

[2016-10-31 18:06] rstacruz opened #141 "Configuration for Fedora 24"
Hey there! I'm trying to get MLUL to make me a bootable Fedora 24 USB, but I'm lost at what to put for `eterprise.cfg`. Any pointers on where to go from here?

[2016-10-31 23:02] SevenBits commented on #141
I’ll look into this.

[2016-11-02 01:24] Timbo879 opened #142 "Cannot boot Ubuntu on Mac: "Need to load the kernal first""
**Short Description of Problem:** I cannot boot Ubuntu on my Mac. I am getting an error:

After I receive this message, I am show another message:

I am running this on a Mac, Early 2011 with macOS Sierra 10.12

Any tips on how I can fix this?

Thanks!

[2016-11-02 02:13] SevenBits commented on #142
Hi there @Timbo879,

Could you please post the configuration file that was written on your USB? To get your configuration file, open the Setup USB Device panel, select your USB, and then press Edit Enterprise Configuration File. TextEdit will open. Paste its contents here.

Thank you!

[2016-11-02 03:04] Timbo879 commented on #142
Thank you @SevenBits!

Here is my configuration file:

#This file is machine generated. Do not modify it unless you know what you are doing.

autoboot 0
entry Ubuntu
family Ubuntu

[2016-11-02 03:05] SevenBits commented on #142
@Timbo879 What options did you select when creating the USB?

[2016-11-02 03:08] Timbo879 commented on #142
@SevenBits The only option I selected was `Skip the boot selection menu`

[2016-11-03 16:18] hosam-ismail opened #143 ""The USB device that you have selected cannot be accessed because the system denied access to the resource.""
**Short Description of Problem:**
Dear @SevenBits, i have read your faq https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/Frequently-Asked-Questions#4b-i-get-a-message-saying-the-usb-device-that-you-have-selected-cannot-be-accessed-because-the-system-denied-access-to-the-resource
and i can't find "Registered Devices".

I am using Mac linux usb loader version 3.1
Mac osx 10.11.6

how can i reu

[2016-11-03 16:25] curiouscurious commented on #142
I am having the same issue with the same error messages. The only difference is I'm on a Macbook Air early 2014, OS X 10.9.5. While creating the USB, I first set aside 1 GB using the slider on the persistence manager, then I "Created Live USB", chose my USB, and it auto-selected "skip the boot selection menu". Since I'm installing the newest release of Kali Linux, I didn't check any of the other b

[2016-11-03 21:39] forrie opened #144 "Won't find USB drive(s) on MacOS Sierra"
**Short Description of Problem:  I have two USB drives inserted into my Mac Pro cylinder that this program won't locate.

**Expected Behavior:**

I should be able to select which USB to install the selected ISO on

**Actual Behavior:**

There are no devices shown

**Steps to Reproduce:**

I have two USBs mounted and verfied on the system; when I run this application and try to set up the ISO onto